{% extends "base.html" %}
{% load allauth i18n %}
{% load static %}

{% block nav_name %}Change Password{% endblock %}

{% block content %}
<div class="container wrapper d-flex justify-content-center align-items-center">
    <div class="form-background add-shadow">
        <div class="w-100 d-flex justify-content-end">
            <a href="{% url 'profile-manager' %}" aria-label="Close" class="close-form">
                <i class="bi bi-x"></i>
            </a>
        </div>
        <h1 class="text-center mb-3">
            Change Password
        </h1>
        {% url 'account_change_password' as action_url %}
        {% element form form=form method="post" action=action_url %}
            {% slot body %}
                {% csrf_token %}
                {% element fields form=form %}
                {% endelement %}
            {% endslot %}
            {% slot actions %}
            <div class="w-100 d-flex justify-content-center p-3">
                <button type="submit" class="custom-button button-shadow">
                    {% trans "Change Password" %}
                <button>
            </div>
            {% endslot %}
        {% endelement %}
    </div>
</div>
{% endblock content %}

{% block extra_js %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            $('form:first').submit(function(){
                $('#loader-container').css("display", "flex");
            });
            $(".form-background ul li:nth-child(1)").hide();
            $(".form-background ul li:nth-child(2)").hide();
            $(".form-background ul li:nth-child(3)").hide();
            $(".form-background ul li:nth-child(4)").hide();
        });
    </script>
{% endblock %}
