{% extends "base.html" %}
{% load allauth i18n socialaccount %}
{% load static %}

{% block nav_name %}Register{% endblock %}

{% block content %}
<div class="container wrapper d-flex justify-content-center align-items-center">
    <div class="form-background add-shadow">
        <div class="w-100 d-flex justify-content-end">
            <a href="{% url 'home' %}" aria-label="Close" class="close-form">
                <i class="bi bi-x"></i>
            </a>
        </div>
        <div class="w-100 d-flex justify-content-center p-3">
            <h1>
                Register
            </h1>
        </div>
        <div class="w-100 d-flex justify-content-center form-heading">
            <p>Already have an account? Then please <a href="{{ login_url }}"> log in </a>.</p>
        </div>
        <div class="w-100 d-flex justify-content-center form-heading">
            <p>
                Please read our 
                    <a href="#" data-bs-toggle="modal" data-bs-target="#termsModal">
                        Terms &#38; Conditions
                    </a>
                and
                    <a href="#" data-bs-toggle="modal" data-bs-target="#privacyModal">
                        Privacy Policy
                    </a>
                .
            </p>
        </div>
        {% url 'account_signup' as action_url %}
        {% element form form=form method="post" action=action_url tags="entrance,signup" %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form unlabeled=True %}
            {% endelement %}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
        {% endslot %}
        {% slot actions %}
            <div class="w-100 text-center p-3" id="register-submit-container">
                <p class="register-submit-item">
                    By clicking the register button, you do agree to our 
                    <a href="#" data-bs-toggle="modal" data-bs-target="#termsModal">
                        Terms &#38; Conditions
                    </a>
                    and
                    <a href="#" data-bs-toggle="modal" data-bs-target="#privacyModal">
                        Privacy Policy
                    </a>
                    .
                </p>
                <button tags="prominent,signup" type="submit" class="custom-button button-shadow register-submit-item">
                    Register
                </button>
            </div>
        {% endslot %}
        {% endelement %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    </div>
</div>
<!-- T&C Modal -->
<div class="modal fade" id="termsModal" tabindex="-1" aria-labelledby="termsModalLabel" aria-hidden="true">
    <div class="modal-dialog w-75">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="termsModalLabel">Terms &#38; Conditions</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                {% include 'terms.html' %}
            </div>
            <div class="modal-footer">
                <button type="button" class="custom-button button-shadow" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Privacy Modal -->
<div class="modal fade" id="privacyModal" tabindex="-1" aria-labelledby="privacyModalLabel" aria-hidden="true">
    <div class="modal-dialog w-75">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="privacyModalLabel">Privacy Policy</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                {% include 'privacy.html' %}
            </div>
            <div class="modal-footer">
                <button type="button" class="custom-button button-shadow" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('form:first').submit(function(){
                $('#loader-container').css("display", "flex");
            });
        });
    </script>
    <script src="{% static 'js/register.js' %}"></script>
{% endblock %}