{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block nav_name %}All Items{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/items.css' %}">
{% endblock %}

{% block content %}
<div class="wrapper w-100 overflow-hidden">
    <div class="row d-flex justify-content-around" id="items-container">
            {% if all_categories|length > 0 %}
            <div class="col-2 add-shadow text-center" id="categories-menu">
                <h3 class="category-heading">
                    Shop by Category
                </h3>
                <hr>
                <div class="row">
                    <div class="col-12">
                        <div class="folder">
                            <h4 class="category-heading">
                                All Products
                            </h4>
                                <img src="{% static 'images/all_image.png' %}" alt="All Products" class="category-preview">
                            </div>
                    </div>
                </div>
                {% for category in all_categories %}
                    <div class="row">
                        <div class="col-12">
                            <div class="folder">
                                <h4 class="category-heading">
                                    {{ category.category_name }}
                                </h4>
                                {% if category.category_image == '' or category.category_image == 'False' %}
                                    <img src="{% static 'images/no_image.png' %}" alt="{{ category.category_name }} preview" class="category-preview">
                                {% else %}
                                    <img src="{{ category.category_image.url }}" alt="{{ category.category_name }} preview" class="category-preview">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="col-2 add-shadow d-flex justify-content-center align-items-center" id="categories-menu">
                <p id="no-categories">
                    Something went wrong !
                    <br>
                    No categories to display.
                </p>
            {% endif %}
        </div>
        <div class="col-8 add-shadow" id="items-menu">
            {% for item in items %}
            {{ item.item_name }}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

