{% extends "base.html" %}
{% load mathfilters %}
{% load crispy_forms_tags %}
{% load static %}

{% block nav_name %}Shop{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/items.css' %}">
{% endblock %}

{% block content %}
    <div class="container wrapper d-flex justify-content-center flex-column">
        <div class="w-100 d-flex justify-content-center align-items-center p-3 item-detail-background add-shadow">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-6">
                    <div class="product-gallery-container">
                        <div  id="img1" class="image-large product-image-container">
                            {% if item.image_1 == '' or item.image_1 == 'False' %}
                                <img src="{% static 'images/no_image.png' %}" alt="First Image of {{ item.item_name }}" class="product-gallery-image">
                            {% else %}
                                <img src="{{ item.image_1.url }}" alt="First Image of {{ item.item_name }}" class="product-gallery-image">
                            {% endif %}
                        </div>
                        <div  id="img2" class="image-small product-image-container">
                            {% if item.image_2 == '' or item.image_2 == 'False' %}
                                <img src="{% static 'images/no_image.png' %}" alt="Second Image of {{ item.item_name }}" class="product-gallery-image">
                            {% else %}
                                <img src="{{ item.image_2.url }}" alt="Second Image of {{ item.item_name }}" class="product-gallery-image">
                            {% endif %}
                        </div>
                        <div  id="img3" class="image-small product-image-container">
                            {% if item.image_3 == '' or item.image_3 == 'False' %}
                                <img src="{% static 'images/no_image.png' %}" alt="Third Image of {{ item.item_name }}" class="product-gallery-image">
                            {% else %}
                                <img src="{{ item.image_3.url }}" alt="Third Image of {{ item.item_name }}" class="product-gallery-image">
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <h3>
                        {{ item.item_name }}
                    </h3>
                    <div class="mb-3 w-100 d-flex justify-content-start">
                        {% if item.item_stock > 0 %}
                            <span class="badge rounded-pill in-stock">{{ item.item_stock }} available</span>
                        {% else %}
                            <span class="badge rounded-pill out-of-stock">Out Of Stock</span>
                        {% endif %}
                        {% if user.is_authenticated%}
                        <form method="POST" id="wishlistForm"  action="{% url 'wishlist-toggle' item_pk=item.pk %}">
                            {% csrf_token %}
                            <a href="#" aria-label="Add {{ item.item_name }} to wishlist" class="wishlist-link" id="wishlistButton" name="wishlist">
                                {% if in_wishlist %}
                                &nbsp;
                                <i class="bi bi-star-fill"></i>
                                &nbsp;
                                Remove from Wishlist
                                {% else %}
                                &nbsp;
                                <i class="bi bi-star"></i>
                                &nbsp;
                                Add to Wishlist
                                {% endif %}
                            </a>
                        </form>
                        {% endif %}
                    </div>
                    <p>
                        {{ item.item_description }}
                    </p>
                    <div class="item-price mb-4 w-100 d-flex justify-content-start">
                        Price per unit :
                        &nbsp;
                        <strong>
                            {{ item.price_per_unit}}
                            &nbsp;
                            €
                        </strong>
                    </div>
                    <form method="POST" id="vaultForm"  action="{% url 'add-to-vault' item_pk=item.pk %}">
                        {% csrf_token %}
                        {% if item.different_sizes and item.different_values %}
                            <div class="d-flex justify-content-around mb-3">
                                <span class="product-detail-input">
                                    {% if item.different_sizes %}
                                        <label for="size">
                                            Select package size
                                        </label>
                                        <select class="form-control shadow-none" id="size" name="size">
                                        {% for size in item.sizes %}
                                            <option value="{{ size }}">{{ size }} {% if size == "1" %}unit{% else %}units{% endif %}</option>
                                        {% endfor %}
                                        </select>
                                    {% endif %}
                                </span>
                                <span class="product-detail-input">
                                    {% if item.different_values %}
                                        <label for="value">
                                            Select value
                                        </label>
                                        <select class="form-control shadow-none" id="value" name="value">
                                        {% for value in item.values %}
                                            <option value="{{ value }}">{{ value }}</option>
                                        {% endfor %}
                                        </select>
                                    {% endif %}
                                </span>
                            </div>
                        {% endif %}
                        <div class="d-flex justify-content-around">
                            <span class="product-detail-input">
                                <label for="quantity">Quantity :</label>
                                <span>
                                    <span class="minus">-</span>
                                    <input type="number" class="form-control shadow-none" id="quantity" name="quantity" min="0" max="{{ item.item_stock }}">
                                    <span class="plus">+</span>
                                </span>
                            </span>
                            <span class="product-detail-input d-flex align-items-end">
                                <button class="custom-button button-shadow" type="submit" id="add-button">Add to Vault</button>
                            </span>
                        </div>
                    </form>
                    <div class="scroll-up row">
                        <div class="col-4 d-flex align-items-end">
                            <i class="bi bi-award"></i>
                            &nbsp;
                            Rating
                            &nbsp;
                            {% if item.rating_counter > 0 %}
                            <span class="pos-rating">
                                + 
                                {{ item.rating_counter|abs }}
                            {% elif item.rating_counter < 0 %}
                            <span class="neg-rating">
                                - 
                                {{ item.rating_counter|abs }}
                            {% else %}
                            <span>
                                {{ item.rating_counter|abs }}
                            {% endif %}
                            </span>
                        </div>
                        <div class="col-4 d-flex align-items-end">
                            <i class="bi bi-chat-left-text"></i>
                            &nbsp;
                            {{ item.item_comments_num }}
                            {% if item.item_comments_num != 1 %}
                            Comments
                            {% else %}
                            Comment
                            {% endif %}
                        </div>
                        <div class="col-4" id="back-to-shop">
                            <i class="bi bi-arrow-left-square"></i>
                            &nbsp;
                            Continue Shopping
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Only for logged in users -->
            <div class="w-100 p-3 comments-background add-shadow mt-3">
                    <!-- If no comment submitted yet, display form -->
                    {% if user.is_authenticated %}
                        {% if can_comment %}
                        <div class="col-12 d-flex justify-content-start mb-3">
                            <strong>Commenting as {{ user.username }} :</strong>
                        </div>
                        <form method="POST" id="commentForm" action="{% url 'submit-comment' item_pk=item.pk %}">
                            {{ item_comment_form | crispy }}
                            {% csrf_token %}
                            <div class="col-12 d-flex justify-content-end mt-3">
                                <button type="Submit" class="custom-button button-shadow mt-2 short-button" name="comment">Comment</button>
                            </div>
                        </form>
                        <!-- If form submitted, display message -->
                        {% else %}
                            Hold on tight, your comment is being approved !
                        {% endif %}
                    {% else %}
                    <div class="col-12 d-flex justify-content-center align-items-center">
                        <strong>Please Log In to comment ;)</strong>
                    </div>
                    {% endif %}
            </div>
        <div class="w-100 p-3 add-shadow mt-3 comments-background">
            {% if comments|length == 0%}
                Be first to comment ;)
            {%else%}
                <!-- Loop to iterate through all comments -->
                {% for comment in comments %}
                    {% if forloop.first %}
                    <hr>
                    {% endif %}
                    <div class="row">
                        <div class="col-1">
                            {% if comment.comment_author.userprofile.profile_picture %}
                                <img src="{{ comment.comment_author.userprofile.profile_picture.url }}" alt="Profile Picture of {{ comment.comment_author }}" class="comments-profile-picture">
                            {% else %}
                                <img src="{% static 'images/blank_profile_picture.png' %}" alt="Profile Picture of {{ comment.comment_author }}" class="comments-profile-picture">
                            {% endif %}
                        </div>
                        <div class="col-11">
                            <strong>
                                Comment by {{ comment.comment_author }} - {{ comment.created_on|date:"d.m.Y" }}
                            </strong> 
                            <br>
                            {{ comment.comment_body }}
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'js/product_detail.js' %}"></script>
    <script src="{% static 'js/wishlist.js' %}"></script>
    <script>
        let stockAmount = {{ item.item_stock }}
        $(document).ready(function() {
            $('#wishlistForm, #commentForm, #vaultForm').submit(function(){
                $('#loader-container').css("display", "flex");
            });
        });
    </script>
{% endblock %}