{% extends "base.html" %}
{% load mathfilters %}
{% load crispy_forms_tags %}
{% load static %}

{% block nav_name %}Shop{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/items.css' %}">
{% endblock %}

{% block content %}
<div class="wrapper w-100 overflow-hidden">
    <div class="row d-flex justify-content-around" id="items-container">
            {% if all_categories|length > 0 %}
            <div class="col-2 add-shadow text-center" id="categories-menu">
                <h3 class="category-heading">
                    Shop by Category
                </h3>
                <hr>
                <div class="row">
                    <div class="col-12 category-container">
                        <a href="{% url 'shop' category_pk=0 %}" aria-label="{{ category.category_name }}">
                            <div class="folder">
                                <h4 class="category-heading">
                                    All Products
                                </h4>
                                    <img src="{% static 'images/all_image.png' %}" alt="All Products" class="category-preview">
                                </div>
                            </div>
                        </a>
                    </div>
                {% for category in all_categories %}
                    <div class="row">
                        <div class="col-12 category-container">
                            <a href="{% url 'shop' category_pk=category.pk %}" aria-label="{{ category.category_name }}">
                                <div class="folder">
                                    <h4 class="category-heading">
                                        {{ category.category_name }}
                                    </h4>
                                    {% if category.category_image == '' or category.category_image == 'False' %}
                                        <img src="{% static 'images/no_image.png' %}" alt="{{ category.category_name }} preview" class="category-preview">
                                    {% else %}
                                        <img src="{{ category.category_image.url }}" alt="{{ category.category_name }} preview" class="category-preview">
                                    {% endif %}
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
                <hr>
                <div class="scroll-up">
                    <span id="scroll-up-categories">
                        <i class="bi bi-arrow-up-square"></i>
                        &nbsp;
                        Back to Top
                    </span>
                </div>
            {% else %}
            <div class="col-2 add-shadow d-flex justify-content-center align-items-center" id="categories-menu">
                <p id="no-categories">
                    Something went wrong !
                    <br>
                    No categories to display.
                </p>
            {% endif %}
        </div>
        <div class="col-8 add-shadow" id="items-menu">
            <h3 class="text-center category-heading">
                {{ selected_category }}
            </h3>
            <hr>
            <div class="w-100 d-flex justify-content-around">
                <select id="sortingOptions" class="form-control w-25 shadow-none">
                    <option value="0" {% if page_sort == 0 %}selected{% endif %}>Name A-Z</option>
                    <option value="1" {% if page_sort == 1 %}selected{% endif %}>Name Z-A</option>
                    <option value="2" {% if page_sort == 2 %}selected{% endif %}>Price Low - High</option>
                    <option value="3" {% if page_sort == 3 %}selected{% endif %}>Price High - Low</option>
                    <option value="4" {% if page_sort == 4 %}selected{% endif %}>Best Rated</option>
                    <option value="5" {% if page_sort == 5 %}selected{% endif %}>Worst Rated</option>
                </select>
                <select id="lengthOptions" class="form-control w-25 shadow-none">
                    <option value="4" {% if page_length == 4 %}selected{% endif %}>4 items per page</option>
                    <option value="8" {% if page_length == 8 %}selected{% endif %}>8 items per page</option>
                    <option value="12" {% if page_length == 12 %}selected{% endif %}>12 items per page</option>
                    <option value="0" {% if page_length == 0 %}selected{% endif %}>All items</option>
                </select>
            </div>
            <hr>
            {% for item in items %}
                {% if forloop.first or forloop.counter == 5 or forloop.counter|add:"-1"|divisibleby:4 %}
                    <div class="row">
                        {% endif %}
                            <div class="col-12 col-xl-3 text-center">
                                <a href="{% url 'item-detail' item_pk=item.pk %}" aria-label="{{ category.category_name }}" class="item-link">
                                    <div class="product-container p-3">
                                        <div class="item-name">
                                            <strong>
                                                {{ item.item_name }}
                                            </strong>
                                        </div>
                                        {% if item.image_1 == '' or item.image_1 == 'False' %}
                                            <img src="{% static 'images/no_image.png' %}" alt="{{ item.item_name }} preview" class="category-preview">
                                        {% else %}
                                            <img src="{{ item.image_1.url }}" alt="{{ item.item_name }} preview" class="category-preview">
                                        {% endif %}
                                        <div class="item-stats">
                                            <i class="bi bi-chat-left-text"></i>
                                            &nbsp;
                                            {{ item.item_comments_num }}
                                            &nbsp;
                                            -
                                            &nbsp;
                                            <i class="bi bi-award"></i>
                                            &nbsp;
                                            {% if item.rating_counter > 0 %}
                                            <span class="pos-rating">
                                                + 
                                                {{ item.rating_counter|abs }}
                                            {% elif item.rating_counter < 0 %}
                                            <span class="neg-rating">
                                                - 
                                                {{ item.rating_counter|abs }}
                                            {% else %}
                                            <span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {% if item.item_stock > 0 %}
                                                <span class="badge rounded-pill in-stock">{{ item.item_stock }} available</span>
                                            {% else %}
                                                <span class="badge rounded-pill out-of-stock">Out Of Stock</span>
                                            {% endif %}
                                        </div>
                                        <div class="item-price">
                                            <strong>
                                                {% with price_slice=item.price_per_unit|floatformat:0 %}
                                                    {{ price_slice }} 
                                                    <sup>
                                                        {{ item.price_per_unit|floatformat:"2"|stringformat:"s"|slice:"-2:"|add:"" }}
                                                    </sup>
                                                {% endwith %}
                                                &nbsp;
                                                €
                                            </strong>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% if forloop.counter|divisibleby:4 or forloop.last %}
                    </div>
                    <hr>
                {% endif %}
            {% endfor %}
            {% if paginator_nav %}
            <div class="w-100 d-flex justify-content-center my-4 pagination-nav">
                <span class="step-links">
                    {% if items.has_previous %}
                        <a href="?page=1&page_sort={{ page_sort }}&page_length={{ page_length }}"><i class="bi bi-chevron-bar-left"></i></a>
                        <a href="?page={{ items.previous_page_number }}&page_sort={{ page_sort }}&page_length={{ page_length }}"><i class="bi bi-chevron-left"></i></a>
                    {% else %}
                        <i class="bi bi-chevron-bar-left"></i>
                        <i class="bi bi-chevron-left"></i>
                    {% endif %}
            
                    <span class="current-page">
                        Page {{ items.number }} of {{ items.paginator.num_pages }}
                    </span>
            
                    {% if items.has_next %}
                        <a href="?page={{ items.next_page_number }}&page_sort={{ page_sort }}&page_length={{ page_length }}"><i class="bi bi-chevron-right"></i></a>
                        <a href="?page={{ items.paginator.num_pages }}&page_sort={{ page_sort }}&page_length={{ page_length }}"><i class="bi bi-chevron-bar-right"></i></a>
                    {% else %}
                        <i class="bi bi-chevron-right"></i>
                        <i class="bi bi-chevron-bar-right"></i>
                    {% endif %}
                </span>
            </div>
            {% endif %}
            <div class="scroll-up">
                <span  id="scroll-up-items" >
                    <i class="bi bi-arrow-up-square"></i>
                    &nbsp;
                    Back to Top
                </span>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
{{block.super}}
<script>
    function prepareNewUrl(currentUrl, parameters) {
        for (let i = 0; i < parameters.length; i += 2) {
            let key = parameters[i];
            let value = parameters[i + 1];
            currentUrl = cleanseUrl(currentUrl, key, value);
        }
        return currentUrl;
    }
    
    function cleanseUrl(uri, key, value) {
        let re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
        if (uri.match(re)) {
            return uri.replace(re, '$1' + key + "=" + value + '$2');
        } else {
            let separator = uri.indexOf('?') !== -1 ? "&" : "?";
            return uri + separator + key + "=" + value;
        }
    }

    $(document).ready(function() {
        $('#sortingOptions, #lengthOptions').change(function(){
            let currentUrl = window.location.href;
            let sortOption = $('#sortingOptions').val();
            let lengthOption = $('#lengthOptions').val();
            let newUrl = prepareNewUrl(currentUrl, ["page_sort", sortOption, "page_length", lengthOption]);
            window.location.href = newUrl;
        });
        if ($('#items-menu').prop('scrollHeight') <= $('#items-menu').prop('clientHeight')) {
            $('#scroll-up-items').hide();
        };
        $('#scroll-up-items').click(function(e) {
			$('#items-menu').animate({ scrollTop: 0 }, 1500);
		})
        if ($('#categories-menu').prop('scrollHeight') <= $('#categories-menu').prop('clientHeight')) {
            $('#scroll-up-categories').hide();
        };
        $('#scroll-up-categories').click(function(e) {
			$('#categories-menu').animate({ scrollTop: 0 }, 1500);
		})
    });
</script>
{% endblock %}
