{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block nav_name %}My Details{% endblock %}

{% block extra_css %} 
        <link rel="stylesheet" href="{% static 'css/profilemanager.css' %}">
{% endblock %}

{% block content %}
<div class="container wrapper p-3">
    <div class="w-100 d-flex justify-content-center p-3 heading add-shadow">
        <h1>
            My Details
        </h1>
    </div>
    <div class="col-12 heading add-shadow p-3">
        <form method="post" enctype="multipart/form-data" id="form">
            {% csrf_token %}
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                        <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                        Personal Details
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse show" aria-labelledby="panelsStayOpen-headingOne">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-12 col-lg-4">
                                    {{ profile_form.profile_picture|as_crispy_field}}
                                    <input type="file" id="profile-picture-input" accept="image/*" />
                                    <img id="profile-picture-preview" src="#" alt="Profile Picture Preview" style="display: none;" />
                                </div>
                                <div class="col-12 col-lg-8">
                                    {{ profile_form.first_name|as_crispy_field}}
                                    {{ profile_form.last_name|as_crispy_field}}
                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <button type="submit" value="Submit" class="custom-button button-shadow mt-4" id="editSubmit" aria-label="Save details">Save details</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                        <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        Shipping Details
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                        <div class="accordion-body">

                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                        <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                        Marketing Preferences
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        <div class="accordion-body">
                            {{ profile_form.marketing_sms|as_crispy_field}}
                            {{ profile_form.marketing_email|as_crispy_field}}
                            {{ profile_form.marketing_phone|as_crispy_field}}
                            <div class="d-flex justify-content-end">
                                <a href="{% url 'account_email' %}" class="custom-button button-shadow mt-2" aria-label="Save Changes">Save Changes</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                        <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                        Account Settings
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        <div class="accordion-body d-flex justify-content-around">
                            <a href="{% url 'account_change_password' %}" class="custom-button button-shadow" aria-label="Change password">Change Password</a>
                            <a href="{% url 'account_email' %}" class="custom-button button-shadow" aria-label="Change email">Change Email</a>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                        <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                        Account Cesation
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
                        <div class="accordion-body">
                            <p>
                                <ul id="cessation-list">
                                    <li>
                                        <strong>Account Access :</strong> You will no longer be able to log in and access your account information, preferences, and saved details.
                                    </li>
                                    <li>
                                        <strong>Order History :</strong> Your order history, including past purchases and transaction details, will be permanently deleted. This information will no longer be retrievable.
                                    </li>
                                    <li>
                                        <strong>Preferences and Settings :</strong> Any personalized preferences and settings associated with your account will be lost.
                                    </li>
                                </ul>
                            </p>
                            <p class="text-center mt-4">
                                <a href="{% url 'account_email' %}" class="custom-button button-shadow mt-2" aria-label="Delete Account">Delete Account</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script>
        $(document).ready(function() {
            $('#filename').text(`No file selected.`);
            $('#new-image').change(function() {
                let file = $('#new-image')[0].files[0];
                $('#filename').text(`Image will be set to : ${file.name}`);
            });
            $('#form').submit(function(){
                $('#loader-container').css("display", "flex");
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            // Triggered when file input changes
            $("#profile-picture-input").change(function() {
                // Get the selected file
                var file = this.files[0];
        
                if (file) {
                    // Create a FileReader to read the file
                    var reader = new FileReader();
        
                    // Set up the FileReader to display the image preview
                    reader.onload = function(e) {
                        $("#profile-picture-preview").attr("src", e.target.result);
                        $("#profile-picture-preview").show();
                    };
        
                    // Read the file as a data URL
                    reader.readAsDataURL(file);
                } else {
                    // If no file is selected, hide the preview
                    $("#profile-picture-preview").hide();
                }
            });
        });
        </script>
{% endblock %}