{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block nav_name %}My Details{% endblock %}

{% block content %}
<div class="container wrapper">
    <div class="w-100 d-flex justify-content-center p-3 heading add-shadow">
        <h1>
            My Details
        </h1>
    </div>
    <div class="col-12 heading add-shadow">
        <h2>
            Account Details
        </h2>
        <hr>
        <p>
            Personal Details
        </p>
        <p>
            Shipping Details
        </p>
        {{ profile_form.address_1|as_crispy_field }}
    </div>
</div>
{% endblock %}