{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block nav_name %}My Details{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/profilemanager.css' %}">
{% endblock %}

{% block content %}
<div class="container wrapper p-3">
    <div class="w-100 d-flex justify-content-center p-3 heading add-shadow">
        <h1>
            My Details
        </h1>
    </div>
    <!-- My details accordion -->
    <div class="col-12 heading add-shadow p-3">
        <div class="w-100 d-flex justify-content-end">
            <a href="{% url 'home' %}" aria-label="Close" class="close-form">
                <i class="bi bi-x"></i>
            </a>
        </div>
        <form method="post" enctype="multipart/form-data" id="form">
            {% csrf_token %}
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <!-- Pesonal details -->
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                        <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                        Personal Details
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse show" aria-labelledby="panelsStayOpen-headingOne">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-12 col-lg-4">
                                    {{ profile_form.profile_picture|as_crispy_field}}
                                    <div class="w-100 d-flex justify-content-center">
                                        <!-- Profile picture -->
                                        <div id="profile-picture-handler">
                                            {% if profile_picture == '' or 'False' in profile_picture %}
                                                <img id="profile-picture-preview" src="#" alt="Profile Picture Preview" style="display: none">
                                                <div id="initials">
                                                    {{ initials }}
                                                </div>
                                                <img id="camera-icon" src="{% static 'images/camera.png' %}" alt="Camera Icon">
                                            {% else %}
                                                <img id="profile-picture-preview" src="{{ profile_picture.url }}" alt="Profile Picture Preview">
                                                <img id="camera-icon" src="{% static 'images/camera.png' %}" alt="Camera Icon">
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-8">
                                    {{ profile_form.first_name|as_crispy_field}}
                                    {{ profile_form.last_name|as_crispy_field}}
                                    {{ profile_form.phone_number|as_crispy_field}}
                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <button type="submit" value="Submit" class="custom-button button-shadow mt-4" id="editSubmit" aria-label="Save details">Save Details</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <!-- Shipping details -->
                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                        <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        Shipping Details
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                        <div class="accordion-body">
                            {{ profile_form.address_1|as_crispy_field}}
                            {{ profile_form.address_2|as_crispy_field}}
                            {{ profile_form.city|as_crispy_field}}
                            {{ profile_form.county|as_crispy_field}}
                            {{ profile_form.post_code|as_crispy_field}}
                            {{ profile_form.country|as_crispy_field }}
                            <div class="d-flex justify-content-end">
                                <button type="submit" value="Submit" class="custom-button button-shadow mt-4" id="editSubmit" aria-label="Save details">Save Details</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <!-- Marketing options -->
                    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                        <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                        Marketing Preferences
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        <div class="accordion-body">
                            <div class="d-flex justify-content-center w-100">
                                <div>
                                    {{ profile_form.marketing_sms|as_crispy_field}}
                                    {{ profile_form.marketing_email|as_crispy_field}}
                                    {{ profile_form.marketing_phone|as_crispy_field}}
                                </div>
                            </div>
                            <div class="d-flex justify-content-end w-100">
                                <button type="submit" value="Submit" class="custom-button button-shadow mt-4" id="editSubmit" aria-label="Save details">Save Details</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <!-- Account settings (change password, manage emails) -->
                    <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                        <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                        Account Settings
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        <div class="accordion-body d-flex justify-content-center">
                            <a href="{% url 'account_change_password' %}" class="custom-button button-shadow" aria-label="Change password">Change Password</a>
                        </div>    
                        <div class="accordion-body d-flex justify-content-center">
                            <a href="{% url 'account_email' %}" class="custom-button button-shadow" aria-label="Change email">Change Email</a>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <!-- Delete account -->
                    <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                        <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                        Account Cesation
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
                        <div class="accordion-body">
                            <p>
                                <ul id="cessation-list">
                                    <li>
                                        <strong>Account Access :</strong> You will no longer be able to log in and access your account information, preferences, and saved details.
                                    </li>
                                    <li>
                                        <strong>Order History :</strong> Your order history, including past purchases and transaction details, will be permanently deleted. This information will no longer be retrievable.
                                    </li>
                                    <li>
                                        <strong>Preferences and Settings :</strong> Any personalized preferences and settings associated with your account will be lost.
                                    </li>
                                </ul>
                            </p>
                            <div class="text-center mt-4 w-100">
                                <button type="button" class="custom-button button-shadow" data-bs-toggle="modal" data-bs-target="#deleteProfileModal" aria-label="Delete account">
                                    Delete account
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Delete Account Modal -->
<div class="modal fade" id="deleteProfileModal" tabindex="-1" aria-labelledby="deleteProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="deleteProfileModalLabel">Delete acount ?</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                Are you sure ? Bad things will happen.
            </div>
            <div class="modal-footer w-100 d-flex justify-content-around">
                <button type="button" class="custom-button button-shadow" data-bs-dismiss="modal">Back</button>
                <a href="{% url 'delete-profile' %}" class="custom-button button-shadow">Delete my account</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            // if form submitted, display loader
            $('#form').submit(function(){
                $('#loader-container').css("display", "flex");
            });
        });
    </script>
    <script src="{% static 'js/profile_picture.js' %}" type="text/javascript"></script>
{% endblock %}