{% extends "base.html" %}
{% load static %}

{% block nav_name %}My Wishlist{% endblock %}

{% block extra_css %} 
        <link rel="stylesheet" href="{% static 'css/wishlist_vault.css' %}">
{% endblock %}

{% block content %}
<div class="container wrapper">
    <div class="w-100 d-flex justify-content-center p-3 heading add-shadow">
        <h1>
            My Wishlist
        </h1>
    </div>
    <div class="col-12 heading add-shadow">
        <div class="row p-3">
            {% if user_wishlist|length == 0 %}
                <div class="w-100 text-center no-items-wishlist">
                    You have nothing in your Wishlist yet, why not to visit our shop ?
                </div>
                <div class="w-100 d-flex justify-content-center">
                    <a href="{% url 'shop' category_pk=0 %}" class="custom-button button-shadow mt-3" aria-label="Shop Now">Visit the Shop</a>
                </div>
            {% else %}
                <hr>
                {% for row in user_wishlist %}
                    <div class="row">
                        <div class="col-2 d-flex justify-content-center align-items-center">
                            <a href="{% url 'item-detail' item_pk=row.pk %}" aria-label="Details of {{ row.item_name }}">
                                {% if row.image_1 == '' or row.image_1 == 'False' %}
                                    <img src="{% static 'images/no_image.png' %}" alt="{{ row.item_name }} Preview" class="wishlist-preview">
                                {% else %}
                                    <img src="{{ row.image_1.url }}" alt="{{ row.item_name }} Preview" class="wishlist-preview">
                                {% endif %}
                            </a>
                        </div>
                        <div class="col-7 d-flex justify-content-center align-items-center flex-column">
                            <strong class="mb-2">
                                <a href="{% url 'item-detail' item_pk=row.pk %}" aria-label="Details of {{ row.item_name }}" class="heading-link">
                                    {{ row.item_name }}
                                </a>
                            </strong>
                            <p>
                                {{ row.item_description }}
                            </p>
                        </div>
                        <div class="col-1 d-flex justify-content-center align-items-center">
                            <strong>
                                {{ row.price_per_unit }}
                                &nbsp;
                                €
                            </strong>
                        </div>
                        <div class="col-2 d-flex justify-content-center align-items-center">
                            <a href="{% url 'delete-wishlist-item' item_pk=row.pk %}" class="custom-button button-shadow wishlist-button deleteButton">
                                <i class="bi bi-trash3"></i>
                                &nbsp;
                                Remove
                            </a>
                        </div>
                        <hr class="mt-3">
                    </div>
                {% endfor %}
                <div class="col-2 d-flex justify-content-center align-items-center w-100">
                    <a href="#" class="custom-button button-shadow" aria-label="Clear Wishlist" data-bs-toggle="modal" data-bs-target="#clearWishlistModal">
                        <i class="bi bi-trash3"></i>
                        &nbsp;
                        Remove All Items
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="clearWishlistModal" tabindex="-1" aria-labelledby="clearWishlistModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="clearWishlistModalLabel">Clear the Wishlist ?</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure ? All items from your Wishlist will be deleted.
            </div>
            <div class="modal-footer w-100 d-flex justify-content-around">
                <button type="button" class="custom-button button-shadow" data-bs-dismiss="modal">Back</button>
                <a href="{% url 'clear-wishlist' %}" class="custom-button button-shadow" id="clearButton">Clear Wishlist</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script>
        $(document).ready(function() {
            $('#clearButton, .deleteButton').click(function(){
                $('.modal').hide();
                $('#loader-container').css("display", "flex");
            });
        });
    </script>
{% endblock %}