{% extends "base.html" %}
{% load static %}

{% block nav_name %}Confirm{% endblock %}

{% block extra_css %} 
        <link rel="stylesheet" href="{% static 'css/owner.css' %}">
{% endblock %}

{% block content %}
<div class="container wrapper d-flex justify-content-center align-items-center">
    <div class="form-background add-shadow">
        <!-- Display details of requested comment -->
        <div class="w-100 d-flex justify-content-end">
            <a href="{% url 'comments-owner' %}" aria-label="Close" class="close-form">
                <i class="bi bi-x"></i>
            </a>
        </div>
        <h1 class="text-center">
            Are you sure ?
        </h1>
        <p class="text-center">
            You are about to delete comment made by 
            <strong>
                {{ comment_to_delete.comment_author }}
            </strong>
            on 
            <strong>
                {{ comment_to_delete.created_on|date:"d.m.Y" }}
            </strong>
            .
        </p>
        <!-- Comment deletition options -->
        <div class="w-100 d-flex justify-content-around p-3">
            <a href="{% url 'comments-owner' %}" aria-label="No, take me back" class="custom-button button-shadow">
                No, take me back
            </a>
            <a href="{% url 'delete-comment' comment_pk=comment_to_delete.pk%}" aria-label="Yes, delete" class="custom-button button-shadow" id="deleteButton">
                Yes, delete
            </a>
        </div>
    </div>
</div>
{%endblock%}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            // display loader if delete button clicked
            $('#deleteButton').click(function(){
                $('#loader-container').css("display", "flex");
            });
        });
    </script>
{% endblock %}