{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block nav_name %}Edit Item{% endblock %}

{% block extra_css %}
<!-- Local styling to ensure this doesn't interfere with global styling of same class names -->
<style>
    .asteriskField {
        display: none;
    }
</style>
<link rel="stylesheet" href="{% static 'css/owner.css' %}">
{% endblock %}

{% block content %}
<div class="container wrapper d-flex justify-content-center align-items-center">
    <div class="form-background add-shadow">
        <div class="w-100 d-flex justify-content-end">
            <a href="{% url 'items' %}" aria-label="Close" class="close-form">
                <i class="bi bi-x"></i>
            </a>
        </div>
        <!-- Display details of edited item -->
        <h1 class="text-center">
            Editing item {{ item_name }}
        </h1>
        <form method="post" enctype="multipart/form-data" id="form">
            {% csrf_token %}
            {{ edit_item_form|crispy }}
            <!-- Submit button -->
            <div class="container d-flex justify-content-around">
                <button type="submit" value="Submit" class="custom-button button-shadow mt-4" id="editSubmit">Submit changes</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script>
        $(document).ready(function() {
            // prefill the text fields
            $('#filename-1, #filename-2, #filename-3').text(`No file selected.`);
            $('#id_image_1').change(function() {
                let file = $('#id_image_1')[0].files[0];
                $('#filename-1').text(`Image 1 will be set to : ${file.name}`);
            });
            // file inputs text change
            $('#id_image_2').change(function() {
                let file = $('#id_image_2')[0].files[0];
                $('#filename-2').text(`Image 2 will be set to : ${file.name}`);
            });
            $('#id_image_3').change(function() {
                let file = $('#id_image_3')[0].files[0];
                $('#filename-3').text(`Image 3 will be set to : ${file.name}`);
            });
            if ($('#id_different_values').val() == 0){
                $('#id_values,label[for="id_values"],#hint_id_values').hide();
            };
            if ($('#id_different_sizes').val() == 0){
                $('#id_sizes,label[for="id_sizes"],#hint_id_sizes').hide();
            };
            // toggle values input if item has values
            $('#id_different_values').change(function(){
                if ($('#id_different_values').val() == 1){
                    $('#id_values,label[for="id_values"],#hint_id_values').show();
                } else {
                    $('#id_values,label[for="id_values"],#hint_id_values').hide();
                };
            });
            // togle sizes input field if item has different sizes
            $('#id_different_sizes').change(function(){
                if ($('#id_different_sizes').val() == 1){
                    $('#id_sizes,label[for="id_sizes"],#hint_id_sizes').show();
                } else {
                    $('#id_sizes,label[for="id_sizes"],#hint_id_sizes').hide();
                };
            });
            // if form submitted, display loader
            $('#form').submit(function(){
                $('#loader-container').css("display", "flex");
            });
        });
    </script>
{% endblock %}