{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block nav_name %}Edit Category{% endblock %}

{% block extra_css %}
<!-- Local styling to ensure this doesn't interfere with global styling of same class names -->
<style>
    .asteriskField {
        display: none;
    }
</style>
<link rel="stylesheet" href="{% static 'css/owner.css' %}">
{% endblock %}

{% block content %}
<div class="container wrapper d-flex justify-content-center align-items-center">
    <div class="form-background add-shadow">
        <div class="w-100 d-flex justify-content-end">
            <a href="{% url 'owner' %}" aria-label="Close" class="close-form">
                <i class="bi bi-x"></i>
            </a>
        </div>
        <!-- Display details of edited category -->
        <h1 class="text-center">
            Editing category {{ category_name }}
        </h1>
        <form method="post" enctype="multipart/form-data" id="form">
            {% csrf_token %}
            {{ edit_category_form.category_name|as_crispy_field }}
            <div class="w-100">
                {{ edit_category_form.category_image|as_crispy_field }}
            </div>
            <!-- Edit form submit -->
            <div class="container d-flex justify-content-around">
                <button type="submit" value="Submit" class="custom-button button-shadow mt-4" id="editSubmit">Submit changes</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script>
        $(document).ready(function() {
            //  if no file selected - display message
            $('#filename').text(`No file selected.`);
            // if file input field changes
            $('#id_category_image').change(function() {
                // set string and file preview
                let file = $('#id_category_image')[0].files[0];
                $('#filename').text(`Image will be set to : ${file.name}`);
                // create file reader
                let reader = new FileReader();
                reader.onload = function(e) {
                    $("#image-preview").attr("src", e.target.result);
                };
                // execute file reader
                reader.readAsDataURL(file);
            });
            $('#form').submit(function(){
                // if form submitted, display loader
                $('#loader-container').css("display", "flex");
            });
        });
    </script>
{% endblock %}