{% extends "owner/owner.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block owner_admin %}
<div class="col-12 d-flex flex-column">
    <h2 class="my-2 text-center">
        Invoices
    </h2>
    <!-- Sorting and pagination options for invoices -->
    <div class="w-100 d-flex justify-content-around">
        <select id="sortingOptions" class="form-control w-25 shadow-none">
            <option value="0" {% if page_sort == 0 %}selected{% endif %}>Oldest first</option>
            <option value="1" {% if page_sort == 1 %}selected{% endif %}>Newest first</option>
        </select>
        <select id="lengthOptions" class="form-control w-25 shadow-none">
            <option value="5" {% if page_length == 5 %}selected{% endif %}>5 invoices per page</option>
            <option value="10" {% if page_length == 10 %}selected{% endif %}>10 invoices per page</option>
            <option value="20" {% if page_length == 20 %}selected{% endif %}>20 invoices per page</option>
            <option value="0" {% if page_length == 0 %}selected{% endif %}>All invoices</option>
        </select>
    </div>
    <!-- If any invoices exist, display details -->
    {% if invoices|length > 0 %}
        <table class="items-table mt-4">
            <tr>
                <th>
                    Date
                </th>
                <th>
                    User
                </th>
                <th>
                    Number
                </th>
                <th>
                    Action
                </th>
            </tr>
            {% for invoice in invoices %}
                <tr>
                    <td colspan="4">
                        <hr>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ invoice.date|date:"d.m.Y" }}
                    </td>
                    <td>
                        {{ invoice.user }}
                    </td>
                    <td>
                        {{ invoice.order_number }}
                    </td>
                    <!-- Actions for invoices -->
                    <td>
                        <a href="{% url 'view-invoice' invoice_pk=invoice.pk %}" target="_blank" aria-label="View Invoice" class="custom-button-table button-shadow">View</a>
                        <a href="{% url 'download-invoice' invoice_pk=invoice.pk %}" download aria-label="Download Invoice" class="custom-button-table button-shadow">Download</a>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4">
                    <hr>
                </td>
            </tr>
        </table>
    <!-- If invoices don't exist -->
    {% else %}
        <p class="text-center mt-5">
            No items to display.
        </p>
    {% endif %}
    <!-- Sorting and pagination -->
    {% if paginator_nav %}
        <div class="w-100 d-flex justify-content-center my-4 pagination-nav">
            <span class="step-links">
                {% if invoices.has_previous %}
                    <a href="?page=1&page_sort={{ page_sort }}&page_length={{ page_length }}"><i class="bi bi-chevron-bar-left"></i><span class="hide">First</span></a>
                    <a href="?page={{ invoices.previous_page_number }}&page_sort={{ page_sort }}&page_length={{ page_length }}"><i class="bi bi-chevron-left"></i><span class="hide">Previous</span></a>
                {% else %}
                    <i class="bi bi-chevron-bar-left"></i><span class="hide">First</span>
                    <i class="bi bi-chevron-left"></i><span class="hide">Previous</span>
                {% endif %}
        
                <span class="current-page">
                    Page {{ invoices.number }} of {{ invoices.paginator.num_pages }}
                </span>
        
                {% if invoices.has_next %}
                    <a href="?page={{ invoices.next_page_number }}&page_sort={{ page_sort }}&page_length={{ page_length }}"><i class="bi bi-chevron-right"></i><span class="hide">Next</span></a>
                    <a href="?page={{ invoices.paginator.num_pages }}&page_sort={{ page_sort }}&page_length={{ page_length }}"><i class="bi bi-chevron-bar-right"></i><span class="hide">End</span></a>
                {% else %}
                    <i class="bi bi-chevron-right"></i><span class="hide">Next</span>
                    <i class="bi bi-chevron-bar-right"></i><span class="hide">End</span>
                {% endif %}
            </span>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block extra_js %}
<script>
    // prepare new URL function
    function prepareNewUrl(currentUrl, parameters) {
        for (let i = 0; i < parameters.length; i += 2) {
            let key = parameters[i];
            let value = parameters[i + 1];
            currentUrl = cleanseUrl(currentUrl, key, value);
        }
        return currentUrl;
    }
    
    // clean current URL function
    function cleanseUrl(uri, key, value) {
        let re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
        if (uri.match(re)) {
            return uri.replace(re, '$1' + key + "=" + value + '$2');
        } else {
            let separator = uri.indexOf('?') !== -1 ? "&" : "?";
            return uri + separator + key + "=" + value;
        }
    }

    $(document).ready(function() {
        $('#sortingOptions, #lengthOptions').change(function(){
            // variables for crating new URL
            let currentUrl = window.location.href;
            let sortOption = $('#sortingOptions').val();
            let lengthOption = $('#lengthOptions').val();
            let newUrl = prepareNewUrl(currentUrl, ["page_sort", sortOption, "page_length", lengthOption]);
            // display loader
            $('#loader-container').css("display", "flex");
            // reaload with new URL
            window.location.href = newUrl;
            
        });
    });
</script>
{% endblock %}