{% extends "owner/owner.html" %}
{% load static %}

{% block owner_admin %}
<div class="col-12 d-flex flex-column">
    <h2 class="my-2 text-center">
        Items
    </h2>
    <div class="d-flex justify-content-center p-3 w-100">
        <a href="{% url 'add-item' %}" aria-label="Add New Item" class="custom-button button-shadow">Add New Item</a>
    </div>
    {% for item in items %}
        {{ item.item_name }}
        <br>
        {% for value in item.values %}
        {{ value }}
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}