{% extends "owner/owner.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block owner_admin %}
<div class="col-12 d-flex flex-column">
    <h2 class="my-2 text-center">
        Items
    </h2>
    <div class="d-flex justify-content-center p-3 w-100">
        <a href="{% url 'add-item' %}" aria-label="Add New Item" class="custom-button button-shadow">Add New Item</a>
    </div>
    <div class="w-100 d-flex justify-content-around">
        <select id="sortingOptions" class="form-control w-25 shadow-none">
            <option value="0" {% if page_sort == 0 %}selected{% endif %}>Name A-Z</option>
            <option value="1" {% if page_sort == 1 %}selected{% endif %}>Name Z-A</option>
            <option value="2" {% if page_sort == 2 %}selected{% endif %}>Price Low - High</option>
            <option value="3" {% if page_sort == 3 %}selected{% endif %}>Price High - Low</option>
            <option value="4" {% if page_sort == 4 %}selected{% endif %}>Stock Low - High</option>
            <option value="5" {% if page_sort == 5 %}selected{% endif %}>Stock High - Low</option>
            <option value="6" {% if page_sort == 6 %}selected{% endif %}>Best Rated</option>
            <option value="7" {% if page_sort == 7 %}selected{% endif %}>Worst Rated</option>
        </select>
        <select id="lengthOptions" class="form-control w-25 shadow-none">
            <option value="5" {% if page_length == 5 %}selected{% endif %}>5 items per page</option>
            <option value="10" {% if page_length == 10 %}selected{% endif %}>10 items per page</option>
            <option value="20" {% if page_length == 20 %}selected{% endif %}>20 items per page</option>
            <option value="0" {% if page_length == 0 %}selected{% endif %}>All items</option>
        </select>
    </div>
    {% if items|length > 0 %}
        <table class="items-table mt-4">
            <tr>
                <th>
                    SKU
                </th>
                <th>
                    Name
                </th>
                <th>
                    Price Per Unit 
                </th>
                <th>
                    Units in stock
                </th>
                <th>
                    Rating
                </th>
                <th>
                    Action
                </th>
            </tr>
            {% for item in items %}
                <tr>
                    <td colspan="6">
                        <hr>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ item.item_sku }}
                    </td>
                    <td>
                        {{ item.item_name }}
                    </td>
                    <td>
                        {{ item.price_per_unit }}
                    </td>
                    <td>
                        {{ item.item_stock}}
                    </td>
                    <td>
                        {% if item.item_likes_num > 0 %}
                        <span class="pos-rating">
                            {{ item.item_likes_num }}
                        {% elif item.item_likes_num < 0 %}
                        <span class="neg-rating">
                            {{ item.item_likes_num }}
                        {% else %}
                        <span>
                            0
                        {% endif %}
                        </span>
                    </td>
                    <td>
                        <a href="{% url 'edit-item' item_pk=item.pk %}" aria-label="Edit Item" class="custom-button-table button-shadow">Edit</a>
                        <a href="{% url 'item-delete-request' item_pk=item.pk %}" aria-label="Delete Item" class="custom-button-table button-shadow">Delete</a>
                    </td>
                <tr>
            {% endfor %}
            <tr>
                <td colspan="6">
                    <hr>
                </td>
            </tr>
        </table>
    {% else %}
        <p class="text-center mt-5">
            No items to display.
        </p>
    {% endif %}
    {% if paginator_nav %}
        <div class="w-100 d-flex justify-content-center my-4 pagination-nav">
            <span class="step-links">
                {% if items.has_previous %}
                    <a href="?page=1&page_sort={{ page_sort }}&page_length={{ page_length }}"><i class="bi bi-chevron-bar-left"></i></a>
                    <a href="?page={{ items.previous_page_number }}&page_sort={{ page_sort }}&page_length={{ page_length }}"><i class="bi bi-chevron-left"></i></a>
                {% else %}
                    <i class="bi bi-chevron-bar-left"></i>
                    <i class="bi bi-chevron-left"></i>
                {% endif %}
        
                <span class="current-page">
                    Page {{ items.number }} of {{ items.paginator.num_pages }}
                </span>
        
                {% if items.has_next %}
                    <a href="?page={{ items.next_page_number }}&page_sort={{ page_sort }}&page_length={{ page_length }}"><i class="bi bi-chevron-right"></i></a>
                    <a href="?page={{ items.paginator.num_pages }}&page_sort={{ page_sort }}&page_length={{ page_length }}"><i class="bi bi-chevron-bar-right"></i></a>
                {% else %}
                    <i class="bi bi-chevron-right"></i>
                    <i class="bi bi-chevron-bar-right"></i>
                {% endif %}
            </span>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block extra_js %}
{{block.super}}
<script>
    function prepareNewUrl(currentUrl, parameters) {
        for (let i = 0; i < parameters.length; i += 2) {
            let key = parameters[i];
            let value = parameters[i + 1];
            currentUrl = cleanseUrl(currentUrl, key, value);
        }
        return currentUrl;
    }
    
    function cleanseUrl(uri, key, value) {
        let re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
        if (uri.match(re)) {
            return uri.replace(re, '$1' + key + "=" + value + '$2');
        } else {
            let separator = uri.indexOf('?') !== -1 ? "&" : "?";
            return uri + separator + key + "=" + value;
        }
    }

    $(document).ready(function() {
        $('#sortingOptions, #lengthOptions').change(function(){
            let currentUrl = window.location.href;
            let sortOption = $('#sortingOptions').val();
            let lengthOption = $('#lengthOptions').val();
            let newUrl = prepareNewUrl(currentUrl, ["page_sort", sortOption, "page_length", lengthOption]);
            window.location.href = newUrl;
            $('#loader-container').css("display", "flex");
        });
    });
</script>
{% endblock %}