{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container wrapper d-flex justify-content-center align-items-center">
    <div class="form-background add-shadow">
        <form method="post" enctype="multipart/form-data" id="newBookingForm">
            {% csrf_token %}
            {{ new_category_form|crispy }}
            <div class="container d-flex justify-content-around">
                <button type="submit" value="Submit" id="submit-booking" class="btn btn-success button-shadow mt-4">Add Category</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}