{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block nav_name %}New Item{% endblock %}

{% block extra_css %}
<!-- Local styling to ensure this doesn't interfere with global styling of same class names -->
<style>
    .asteriskField {
        display: none;
    }
</style>
{% endblock %}

{% block content %}
<div class="container wrapper d-flex justify-content-center align-items-center">
    <div class="form-background add-shadow">
        <div class="w-100 d-flex justify-content-end">
            <a href="{% url 'items' %}" aria-label="Close" class="close-form">
                <i class="bi bi-x"></i>
            </a>
        </div>
        <h1 class="text-center">
            New Item
        </h1>
        <form method="post" enctype="multipart/form-data" id="createCategoryForm">
            {% csrf_token %}
            {{ new_item_form|crispy }}
            <div class="container d-flex justify-content-around">
                <button type="submit" value="Submit" class="custom-button button-shadow mt-4">Add Item</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script>
        $(document).ready(function() {
            $('#id_sizes,label[for="id_sizes"],#hint_id_sizes').hide();
            $('#id_values,label[for="id_values"],#hint_id_values').hide();
            $('#id_different_values').change(function(){
                console.log($('#id_different_values').val());
                if ($('#id_different_values').val() == 1){
                    $('#id_values,label[for="id_values"],#hint_id_values').show();
                } else {
                    $('#id_values,label[for="id_values"],#hint_id_values').hide();
                };
            });
            $('#createCategoryForm').submit(function(){
                $('#loader-container').css("display", "flex");
            });
        });
    </script>
{% endblock %}