{% extends "owner/owner.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block owner_admin %}
<div class="col-12 d-flex flex-column">
    <h2 class="my-2 text-center">
        Newsletter Emails
    </h2>
    <!-- Sorting and pagination options -->
    <div class="w-100 d-flex justify-content-around">
        <select id="sortingOptions" class="form-control w-25 shadow-none">
            <option value="0" {% if page_sort == 0 %}selected{% endif %}>All Emails</option>
            <option value="1" {% if page_sort == 1 %}selected{% endif %}>Drafts only</option>
            <option value="2" {% if page_sort == 2 %}selected{% endif %}>Sent only</option>
        </select>
        <select id="lengthOptions" class="form-control w-25 shadow-none">
            <option value="5" {% if page_length == 5 %}selected{% endif %}>5 items per page</option>
            <option value="10" {% if page_length == 10 %}selected{% endif %}>10 items per page</option>
            <option value="20" {% if page_length == 20 %}selected{% endif %}>20 items per page</option>
            <option value="0" {% if page_length == 0 %}selected{% endif %}>All items</option>
        </select>
    </div>
    <!-- Create new email link -->
    <div class="d-flex justify-content-center p-3 w-100">
        <a href="{% url 'new-email' %}" aria-label="Create New Email" class="custom-button button-shadow">Create New Email</a>
    </div>
    <!-- If sent emails or drafts exist display details -->
    {% if emails|length > 0 %}
        <table class="items-table mt-4">
            <tr>
                <th>
                    Status 
                </th>
                <th>
                    Subject
                </th>
                <th>
                    Created/Sent
                </th>
                <th>
                    Body
                </th>
                <th colspan="2">
                    Actions
                </th>
            </tr>
            {% for email in emails %}
                <tr>
                    <td colspan="6">
                        <hr>
                    </td>
                </tr>
                <tr>
                    <td>
                        <!-- Status -->
                        {% if email.status == 0 %}
                        <span class="neu-rating">
                            Draft
                        {% else %}
                        <span class="pos-rating">
                            Sent
                        {% endif %}
                        </span>
                    </td>
                    <td>
                        {{ email.subject }}
                    </td>
                    <td>
                        {{ email.date_sent|date:"d.m.Y" }}
                    </td>
                    <td>
                        <div class="comment-email-container hidden-overflow">
                            <div class="comment-text">
                                {{ email.body|safe}}
                            </div>
                        <!-- If email body too long, wrap in container -->
                        {% if email.body|length > 60 %}
                            <div class="more-text">
                                ...
                            </div>
                        {% endif %}
                        </div>
                    </td>
                    <!-- Email actions -->
                    {% if email.status == 0 %}
                    <td>
                        <a href="{% url 'edit-email' email_pk=email.pk %}" aria-label="Edit" class="custom-button-table button-shadow full-button">Edit</a>
                    </td>
                    <td>
                        <a href="{% url 'email-delete-request' email_pk=email.pk %}" aria-label="Delete" class="custom-button-table button-shadow full-button ms-3">Delete</a>
                    </td>
                    {% else %}
                    <td colspan="2">
                        <span> No actions for sent email !</span>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
            <tr>
                <td colspan="6">
                    <hr>
                </td>
            </tr>
        </table>
    <!-- If no emails or drafts, display message -->
    {% else %}
        <p class="text-center mt-5">
            No items to display.
        </p>
    {% endif %}
    <!-- Pagination Nav -->
    {% if paginator_nav %}
        <div class="w-100 d-flex justify-content-center my-4 pagination-nav">
            <span class="step-links">
                {% if emails.has_previous %}
                    <a href="?page=1&page_sort={{ page_sort }}&page_length={{ page_length }}"><i class="bi bi-chevron-bar-left"></i><span class="hide">First</span></a>
                    <a href="?page={{ items.previous_page_number }}&page_sort={{ page_sort }}&page_length={{ page_length }}"><i class="bi bi-chevron-left"></i><span class="hide">Previous</span></a>
                {% else %}
                    <i class="bi bi-chevron-bar-left"></i><span class="hide">First</span>
                    <i class="bi bi-chevron-left"></i><span class="hide">Previous</span>
                {% endif %}
        
                <span class="current-page">
                    Page {{ emails.number }} of {{ emails.paginator.num_pages }}
                </span>
        
                {% if emails.has_next %}
                    <a href="?page={{ items.next_page_number }}&page_sort={{ page_sort }}&page_length={{ page_length }}"><i class="bi bi-chevron-right"></i><span class="hide">Next</span></a>
                    <a href="?page={{ items.paginator.num_pages }}&page_sort={{ page_sort }}&page_length={{ page_length }}"><i class="bi bi-chevron-bar-right"></i><span class="hide">End</span></a>
                {% else %}
                    <i class="bi bi-chevron-right"></i><span class="hide">Next</span>
                    <i class="bi bi-chevron-bar-right"></i><span class="hide">End</span>
                {% endif %}
            </span>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block extra_js %}
{{block.super}}
<script>
    // prepare new URL function
    function prepareNewUrl(currentUrl, parameters) {
        for (let i = 0; i < parameters.length; i += 2) {
            let key = parameters[i];
            let value = parameters[i + 1];
            currentUrl = cleanseUrl(currentUrl, key, value);
        }
        return currentUrl;
    }
    
    // clean current URL function
    function cleanseUrl(uri, key, value) {
        let re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
        if (uri.match(re)) {
            return uri.replace(re, '$1' + key + "=" + value + '$2');
        } else {
            let separator = uri.indexOf('?') !== -1 ? "&" : "?";
            return uri + separator + key + "=" + value;
        }
    }

    $(document).ready(function() {
        // if sorting or pagination options change, prepare new URL
        $('#sortingOptions, #lengthOptions').change(function(){
            let currentUrl = window.location.href;
            let sortOption = $('#sortingOptions').val();
            let lengthOption = $('#lengthOptions').val();
            let newUrl = prepareNewUrl(currentUrl, ["page_sort", sortOption, "page_length", lengthOption]);
            // display loader
            $('#loader-container').css("display", "flex");
            // reload with new URL
            window.location.href = newUrl;
            
            });
        });
        // if more text button pressed, toggle long text container
        $('.more-text').click(function() {
            $(this).parent('.comment-email-container').toggleClass('expand-box');
    });
</script>
{% endblock %}