{% extends "owner/owner.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block owner_admin %}
<div class="col-12 d-flex flex-column">
    <h2 class="my-2 text-center">
        Vouchers
    </h2>
    <div class="d-flex justify-content-center p-3 w-100">
        <a href="{% url 'add-voucher' %}" aria-label="Add New Voucher" class="custom-button button-shadow">Add New Voucher</a>
    </div>
    <div class="w-100 d-flex justify-content-around">
        <!-- Sorting an pagination options -->
        <select id="sortingOptions" class="form-control w-25 shadow-none">
            <option value="0" {% if page_sort == 0 %}selected{% endif %}>All Vouchers</option>
            <option value="1" {% if page_sort == 1 %}selected{% endif %}>Pending only</option>
            <option value="2" {% if page_sort == 2 %}selected{% endif %}>Active only</option>
            <option value="3" {% if page_sort == 3 %}selected{% endif %}>Expired only</option>
        </select>
        <select id="lengthOptions" class="form-control w-25 shadow-none">
            <option value="5" {% if page_length == 5 %}selected{% endif %}>5 items per page</option>
            <option value="10" {% if page_length == 10 %}selected{% endif %}>10 items per page</option>
            <option value="20" {% if page_length == 20 %}selected{% endif %}>20 items per page</option>
            <option value="0" {% if page_length == 0 %}selected{% endif %}>All items</option>
        </select>
    </div>
    <!-- If vouchers do exists -->
    {% if vouchers|length > 0 %}
        <table class="items-table mt-4">
            <tr>
                <th>
                    Code
                </th>
                <th>
                    Start Date
                </th>
                <th>
                    End Date 
                </th>
                <th>
                    Discount
                </th>
                <th>
                    Status
                </th>
                <th>
                    Action
                </th>
            </tr>
            {% for voucher in vouchers %}
                <tr>
                    <td colspan="6">
                        <hr>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ voucher.voucher_code }}
                    </td>
                    <td>
                        {{ voucher.start_date|date:"d.m.Y" }}
                    </td>
                    <td>
                        {{ voucher.end_date|date:"d.m.Y" }}
                    </td>
                    <td>
                        {{ voucher.discount }} %
                    </td>
                    <!-- Vocuher status -->
                    <td>
                        {% if voucher.status == "Pending" %}
                        <span class="neu-rating">
                        {% elif voucher.status == "Active" %}
                        <span class="pos-rating">
                        {% else %}
                        <span class="neg-rating">
                        {% endif %}
                        {{ voucher.status }}
                        </span>
                    </td>
                    <!-- Vouchers actions -->
                    <td>
                        <a href="{% url 'edit-voucher' voucher_pk=voucher.pk %}" aria-label="Edit Voucher" class="custom-button-table button-shadow">Edit</a>
                        <a href="{% url 'voucher-delete-request' voucher_pk=voucher.pk %}" aria-label="Delete Voucher" class="custom-button-table button-shadow">Delete</a>
                    </td>
                <tr>
            {% endfor %}
            <tr>
                <td colspan="6">
                    <hr>
                </td>
            </tr>
        </table>
    {% else %}
        <p class="text-center mt-5">
            No items to display.
        </p>
    {% endif %}
    <!-- Pagination Nav -->
    {% if paginator_nav %}
        <div class="w-100 d-flex justify-content-center my-4 pagination-nav">
            <span class="step-links">
                {% if vouchers.has_previous %}
                    <a href="?page=1&page_sort={{ page_sort }}&page_length={{ page_length }}"><i class="bi bi-chevron-bar-left"></i></a>
                    <a href="?page={{ items.previous_page_number }}&page_sort={{ page_sort }}&page_length={{ page_length }}"><i class="bi bi-chevron-left"></i><span class="hide">Previous</span></a>
                {% else %}
                    <i class="bi bi-chevron-bar-left"></i>
                    <i class="bi bi-chevron-left"></i><span class="hide">Previous</span>
                {% endif %}
        
                <span class="current-page">
                    Page {{ vouchers.number }} of {{ vouchers.paginator.num_pages }}
                </span>
        
                {% if vouchers.has_next %}
                    <a href="?page={{ items.next_page_number }}&page_sort={{ page_sort }}&page_length={{ page_length }}"><i class="bi bi-chevron-right"><span class="hide">Next</span></i></a>
                    <a href="?page={{ items.paginator.num_pages }}&page_sort={{ page_sort }}&page_length={{ page_length }}"><i class="bi bi-chevron-bar-right"></i><span class="hide">End</span></a>
                {% else %}
                    <i class="bi bi-chevron-right"><span class="hide">Next</span></i>
                    <i class="bi bi-chevron-bar-right"></i><span class="hide">End</span>
                {% endif %}
            </span>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block extra_js %}
{{block.super}}
<script type="text/javascript">
    // prepare new URL function
    function prepareNewUrl(currentUrl, parameters) {
        for (let i = 0; i < parameters.length; i += 2) {
            let key = parameters[i];
            let value = parameters[i + 1];
            currentUrl = cleanseUrl(currentUrl, key, value);
        }
        return currentUrl;
    }
    
    // clean current URL function
    function cleanseUrl(uri, key, value) {
        let re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
        if (uri.match(re)) {
            return uri.replace(re, '$1' + key + "=" + value + '$2');
        } else {
            let separator = uri.indexOf('?') !== -1 ? "&" : "?";
            return uri + separator + key + "=" + value;
        }
    }

    $(document).ready(function() {
        // if sorting or pagination options change
        $('#sortingOptions, #lengthOptions').change(function(){
            // prepare new URL
            let currentUrl = window.location.href;
            let sortOption = $('#sortingOptions').val();
            let lengthOption = $('#lengthOptions').val();
            let newUrl = prepareNewUrl(currentUrl, ["page_sort", sortOption, "page_length", lengthOption]);
            // display loader
            $('#loader-container').css("display", "flex");
            // refresh with new URL
            window.location.href = newUrl;
            
        });
    });
</script>
{% endblock %}