{% extends "base.html" %}
{% load static %}

{% block nav_name %}Checkout{% endblock %}

{% block extra_css %} 
        <link rel="stylesheet" href="{% static 'css/checkout.css' %}">
{% endblock %}

{% block content %}
<div class="container wrapper">
    <div class="w-100 d-flex justify-content-center p-3 heading add-shadow">
        <h1>
            Secure Checkout
        </h1>
    </div>
    <div class="w-100 d-flex justify-content-center p-3 heading add-shadow">
        Checkout
    </div>
{% endblock %}