{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block nav_name %}Checkout{% endblock %}

{% block extra_css %} 
        <link rel="stylesheet" href="{% static 'css/checkout.css' %}">
{% endblock %}

{% block content %}
<div class="container wrapper">
    <div class="w-100 d-flex justify-content-center p-3 heading add-shadow">
        <h1>
            Secure Checkout
        </h1>
    </div>
    <div class="w-100 d-flex justify-content-center p-3 heading add-shadow">
        <form method="post" enctype="multipart/form-data" id="form" class="w-100">
            {% csrf_token %}
            <div class="accordion" id="accordionPanelsStay-headingOne">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                        <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                        Shipping Details
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse show" aria-labelledby="panelsStayOpen-headingOne">
                        <div class="accordion-body">
                            {{ order_form.first_name|as_crispy_field}}
                            {{ order_form.last_name|as_crispy_field}}
                            {{ order_form.address_1|as_crispy_field}}
                            {{ order_form.address_2|as_crispy_field}}
                            {{ order_form.city|as_crispy_field}}
                            {{ order_form.county|as_crispy_field}}
                            {{ order_form.post_code|as_crispy_field}}
                            {{ order_form.country|as_crispy_field }}
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                        <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        Delivery Options
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse show" aria-labelledby="panelsStayOpen-headingTwo">
                        <div class="accordion-body d-flex justify-content-center">
                            {{ order_form.delivery_option|as_crispy_field}}
                        </div>
                        <button type="submit" name="delivery" id="delivery-button"></button>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                        <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                        Redeem Vouchers
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse show" aria-labelledby="panelsStayOpen-headingThree">
                        <div class="accordion-body d-flex justify-content-center">
                            {% if not current_voucher.0 %}
                                <div class="w-50 text-center">
                                    <span class="w-50">
                                        {{ order_form.voucher|as_crispy_field }}
                                    </span>
                                    <span>
                                        <button name="check-voucher" class="custom-button button-shadow mt-3" type="submit">
                                            <i class="bi bi-check-circle"></i>
                                            Check code
                                        </button>
                                    </span>
                                </div>
                            {% else %}
                                <div class="d-flex flex-column">
                                    <div>
                                        <span class="mx-5">
                                            Code used : 
                                            <strong>
                                                {{ current_voucher.1 }}
                                            </strong>
                                        </span>
                                        <span class="mx-5">
                                            Voucher Discount : 
                                            <strong>
                                                {{ current_voucher.3 }} %
                                            </strong>
                                        </span>
                                        <span class="mx-5">
                                            Your Discount : 
                                            <strong>
                                                {{ current_voucher.2 }} €
                                            </strong>
                                        </span>
                                    </div>
                                    <div class="text-center">
                                        <button name="delete-voucher" class="custom-button button-shadow mt-3" type="submit">
                                            <i class="bi bi-trash3"></i>
                                            &nbsp;
                                            Remove voucher
                                        </button>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                        <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                        Payment
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseFour" class="accordion-collapse show" aria-labelledby="panelsStayOpen-headingFour">
                        <div class="accordion-body">
                            {{ total }}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            // Save Y Scrolling position
            let savedYPosition = parseInt(sessionStorage.getItem('yPosition')) || 0;
            // Scroll to saved position if existant or 0
            window.scrollTo(0, savedYPosition);
            // Adjust content of delivery label 0
            $('label[for="id_delivery_option_0"]').html('<strong>Standard Delivery</strong> - {{ standard_delivery_cost }} € - <span class="lower-delivery">( 3 to 5 working days )</span>');
            // Adjust content of delivery label 1
            $('label[for="id_delivery_option_1"]').html('<strong>Express Delivery</strong> - {{ express_delivery_cost }} € - <span class="lower-delivery">( 2 to 3 working days )</span>');
            // When form submitted ---
            $('form').submit(function(){
                // --- display loader 
                $('#loader-container').css("display", "flex");
            });
            // When deliveryy option changed
            $('#id_delivery_option_0, #id_delivery_option_1').change(function(){
                // read Y position
                let yPosition = window.scrollY;
                // save Y position
                sessionStorage.setItem('yPosition', yPosition);
                // submit form by clicking hidden button
                $('#delivery-button').click();
            });
        });
    </script>
{% endblock %}
