/* ------------------- CHECKOUT ----------------------- */

.accordion-item {
    border-radius: 0px!important;
    background-color: var(--dark-foreground);
}

.accordion-header {
    background-color: var(--dark-background);
    color: var(--light-foreground);
}

.accordion-collapse {
    background-color: var(--light-background);
}

.accordion-button {
    background-color: var(--dark-background);
    color: var(--light-foreground);
}

.accordion-button:hover {
    text-decoration: underline;
}

.accordion-button:not(.collapsed) {
    color: var(--light-foreground);
    background-color: var(--dark-background);
}

.accordion-button:not(.collapsed)::after {
    background-image: none;
}

#delivery-button {
    display: none;
}

label[for="id_delivery_option_0"],
label[for="id_delivery_option_1"] {
    color: var(--light-foreground);
    transition: color 0.5s ease-in-out;
}

label[for="id_delivery_option_0"]:hover,
label[for="id_delivery_option_1"]:hover {
    color: var(--light-highlight);
}

.lower-delivery {
    font-size: 90%;
}

#div_id_delivery_option > label {
    display: none;
}

#card-element {
    background-color: var(--light-foreground);
}

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}