/* ------------------- CHECKOUT ----------------------- */

#id_email_order {
    font-family: var(--main-font)!important;
    background-color: var(--light-background)!important;
    color: var(--light-foreground)!important;
    border-radius: 0px!important;
    border: 1px solid var(--light-foreground)!important;
    transition: border 0.5s;
}

#id_email_order:focus
{
    background-color: var(--light-background)!important;
    color: var(--light-foreground)!important;
    border: 1px solid var(--dark-highlight)!important;
}

#id_email_order:hover
{
    background-color: var(--light-background)!important;
    color: var(--light-foreground)!important;
    border: 1px solid var(--dark-foreground)!important;
}

#id_email_order::placeholder {
    color: var(--dark-foreground)!important;
}
.accordion-item {
    border-radius: 0px!important;
    background-color: var(--dark-foreground);
}

.accordion-header {
    background-color: var(--dark-background);
    color: var(--light-foreground);
}

.accordion-collapse {
    background-color: var(--light-background);
}

.accordion-button {
    background-color: var(--dark-background);
    color: var(--light-foreground);
}

.accordion-button:hover {
    text-decoration: underline;
}

.accordion-button:not(.collapsed) {
    color: var(--light-foreground);
    background-color: var(--dark-background);
}

.accordion-button:not(.collapsed)::after {
    background-image: none;
}

#delivery-button {
    display: none;
}

label[for="id_delivery_option_0"],
label[for="id_delivery_option_1"],
label[for="save-details"] {
    color: var(--light-foreground);
    transition: color 0.5s ease-in-out;
}

label[for="id_delivery_option_0"]:hover,
label[for="id_delivery_option_1"]:hover,
label[for="save-details"]:hover {
    color: var(--light-highlight);
    cursor: pointer;
}

.lower-delivery {
    font-size: 90%;
}

#div_id_delivery_option > label {
    display: none;
}

#card-element {
    transition: border 0.5s ease-in-out;
}

#card-element:hover {
    border: 1px solid var(--dark-foreground);
}

#payment-form .form-control,
#card-element {
    color: var(--light-foreground);
    border: 1px solid var(--light-foreground);
    background-color: var(--light-background);
    font-family: var(--main-font);
}

.card-error-message {
    color: var(--negative-foreground);
}

.StripeElement,
.stripe-style-input {
    box-sizing: border-box;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 0px;
    background-color: var(--light-background);
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    border: 1px solid var(--light-highlight);
}

.StripeElement--webkit-autofill {
    background-color: var(--light-background)!important;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

.highlight {
    color: var(--light-highlight);
}

.success-preview {
    width: 40%;
    border: 2px solid var(--dark-background);
    transition: border 0.5s ease-in-out;
}

.success-preview:hover {
    border: 2px solid var(--light-highlight);
}

.card-container {
    width: 75%;
}

.voucher-container {
    width: 50%;
}

@media screen and (max-width: 768px) {
    .card-container {
        width: 100%;
    }
    .custom-button {
        width: 80%;
    }
    .voucher-container {
        width: 75%;
    }
}