/* ------------------- CHECKOUT ----------------------- */

.accordion-item {
    border-radius: 0px!important;
    background-color: var(--dark-foreground);
}

.accordion-header {
    background-color: var(--dark-background);
    color: var(--light-foreground);
}

.accordion-collapse {
    background-color: var(--light-background);
}

.accordion-button {
    background-color: var(--dark-background);
    color: var(--light-foreground);
}

.accordion-button:hover {
    text-decoration: underline;
}

.accordion-button:not(.collapsed) {
    color: var(--light-foreground);
    background-color: var(--dark-background);
}

.accordion-button:not(.collapsed)::after {
    background-image: none;
}

#delivery-button {
    display: none;
}

label[for="id_delivery_option_0"],
label[for="id_delivery_option_1"] {
    color: var(--light-foreground);
    transition: color 0.5s ease-in-out;
}

label[for="id_delivery_option_0"]:hover,
label[for="id_delivery_option_1"]:hover {
    color: var(--light-highlight);
}

.lower-delivery {
    font-size: 90%;
}

#div_id_delivery_option > label {
    display: none;
}