.error-background a {
    color: var(--light-foreground);
    text-decoration: none;
    transition: color 0.5s;
}

.error-background a:hover {
    color: var(--light-highlight);
    text-decoration: none;
}