/** ------------------------------- FOOTER ---------------------------- **/

footer {
    background-color: var(--light-background);
    padding: 5px 0;
    width: 100%;
    border-top: 2px solid var(--dark-background);
}

footer a {
    text-decoration: none;
    color: var(--light-foreground);
    font-family: var(--main-font);
    transition: color 0.5s;
}

footer a:hover {
    color: var(--light-highlight);
}

footer p {
    margin-bottom: 0px!important;
}

.footer-heading,
footer hr {
    color: var(--light-foreground);
}

.card-type {
    border: 1px solid var(--light-foreground);
}

.white-text {
    color: var(--light-foreground);
}

@media screen and (max-width: 768px) {

    footer {
        font-size: 95%;
    }

    #credits {
        font-size: 85%;
    }
}