#categories-menu {
    background-color: var(--light-blue);
    height: 73vh;
    overflow-x: hidden;
    overflow-y: auto;    
}

#items-menu {
    background-color: var(--light-blue);
    height: 73vh;
    overflow-x: hidden;
    overflow-y: auto;
}

#items-container {
    height: 73vh;
}

#no-categories {
    color: var(--white);
}

.folder {
    width: 12rem;
    height: 12rem;
    display: inline-block;
    margin: auto;
    position: relative;
    background-color: var(--dark-blue);
    border-radius: 0 3px 3px 3px;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.folder::before {
    content: '';
    width: 40%;
    height: 1em;
    border-radius: 20px 20px 0 0;
    background-color: var(--dark-blue);
    position: absolute;
    top: -1em;
    left: 0px;
}

.category-heading {
    margin-top: 1vh;
    color: var(--white);
}

.category-preview {
    width: 60%;
    border: 2px solid var(--black);
}

.category-container {
    scale: 1;
    transition: scale 0.5s ease-in-out;
}

.category-container:hover {
    scale: 1.1;
}

.product-container {
    background-color: var(--dark-blue);
    height: 100%;
    scale: 1;
    transition: scale 0.5s ease-in-out, border 0.5s ease-in-out;
    border: 1px solid var(--black);
}

.product-container:hover {
    scale: 1.05;
    border: 1px solid var(--light-gold);
}

.item-name {
    height: 7vh;
    color: var(--white);
    font-family: var(--header-font);
}

.item-stats {
    margin-top: 0.5vh;
    color: var(--white);
    font-family: var(--header-font);
}

.item-price {
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    color: var(--white);
    font-family: var(--header-font);
}

.scroll-up {
    color: var(--white);
    cursor: pointer;
    font-family: var(--header-font);
    margin: 1vh;
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 1vh;
}