/** ------------------------------- LANDING ---------------------------- **/

.jumbotron-wrapper {
    height: 74vh;
    background-color: var(--light-background-opaque);
}

.main-banner {
    height: 100%;
}

.main-banner-message {
    height: 65%;
    width: 75%;
    background-color: var(--light-background-opaque);
}

.main-banner-message-text {
    color: var(--light-foreground);
    font-size: 130%;
}

.side-banner {
    height: 37vh;
}

.side-banner-message {
    height: 80%;
    width: 80%;
    background-color: var(--light-background-opaque);
}

@keyframes free-shipping-change {
    0% {
        scale: 1.0;
        color: var(--light-foreground);
    }
    50% {
        scale: 1.1;
        color: var(--light-highlight);
    }
    100% {
        scale: 1.0;
        color: var(--light-foreground);
    }
}

.free-shipping-message {
    color: var(--light-foreground);
    font-size: 130%;
    animation: free-shipping-change 3s infinite;
}