/** ------------------------------- LANDING ---------------------------- **/

.jumbotron-wrapper {
    height: 74vh;
    background-color: var(--light-background-opaque);
}

.main-banner {
    height: 100%;
}

.main-banner-message {
    height: 55%;
    width: 75%;
    background-color: var(--light-background-opaque);
}

.main-banner-message-text {
    color: var(--light-foreground);
    font-size: 130%;
}

.side-banner {
    height: 37vh;
}

.side-banner-message {
    height: 90%;
    width: 90%;
    background-color: var(--light-background-opaque);
}

@keyframes free-shipping-change {
    0% {
        scale: 1.0;
        color: var(--light-foreground);
    }
    50% {
        scale: 1.1;
        color: var(--light-highlight);
    }
    100% {
        scale: 1.0;
        color: var(--light-foreground);
    }
}

.free-shipping-message {
    color: var(--light-foreground);
    font-size: 130%;
    animation: free-shipping-change 3s infinite;
}

.email-message {
    margin-top: 10%;
    height: 28%;
    width: 75%;
    background-color: var(--light-background-opaque);
}

label[for="id_newsletter_email"] {
    display: none;
}

#id_newsletter_email {
    font-family: var(--main-font)!important;
    background-color: transparent!important;
    color: var(--light-foreground)!important;
    border-radius: 0px!important;
    border: 1px solid var(--light-foreground)!important;
    text-align: center;
    transition: border 0.5s;
}

#id_newsletter_email:focus {
    border: 1px solid var(--light-highlight)!important;
}

#id_newsletter_email:hover {
    border: 1px solid var(--dark-foreground)!important;
}

#id_newsletter_email::placeholder {
    color: var(--dark-foreground)!important;
}

.carousel {
    height: 25vh;
    width: 25vh;
    border: 2px solid var(--dark-foreground);
    transition: border 0.5s ease-in-out;
}

.carousel:hover {
    border: 2px solid var(--light-highlight);
}

.side-banner-heading {
    color: var(--light-foreground);
}

.carousel-caption {
    background-color: var(--light-background-opaque);
}

.carousel-caption a {
    color: var(--light-highlight);
    text-decoration: none;
    font-family: var(--main-font);
}