/** ------------------------------- LANDING ---------------------------- **/

.jumbotron-wrapper {
    min-height: 74vh;
    background-color: var(--light-background-opaque);
}

.main-banner {
    height: 100%;
}

.main-banner-message {
    height: 55%;
    width: 75%;
    background-color: var(--light-background-opaque);
    margin-top: 2%;
}

.main-banner-message-text {
    color: var(--light-foreground);
    font-size: 130%;
}

.side-banner {
    height: 37vh;
}

.side-banner-message {
    height: 90%;
    width: 90%;
    background-color: var(--light-background-opaque);
}

@keyframes free-shipping-change {
    0% {
        transform: scale(1.0);
        color: var(--light-foreground);
    }
    50% {
        transform: scale(1.1);
        color: var(--light-highlight);
    }
    100% {
        transform: scale(1.0);
        color: var(--light-foreground);
    }
}

.free-shipping-message {
    color: var(--light-foreground);
    font-size: 130%;
    animation: free-shipping-change 3s infinite;
}

.email-message {
    margin-top: 10%;
    height: 28%;
    width: 75%;
    background-color: var(--light-background-opaque);
}

label[for="id_newsletter_email"] {
    display: none;
}

#id_newsletter_email {
    font-family: var(--main-font)!important;
    background-color: transparent!important;
    color: var(--light-foreground)!important;
    border-radius: 0px!important;
    border: 1px solid var(--light-foreground)!important;
    text-align: center;
    transition: border 0.5s;
}

#id_newsletter_email:focus {
    border: 1px solid var(--light-highlight)!important;
}

#id_newsletter_email:hover {
    border: 1px solid var(--dark-foreground)!important;
}

#id_newsletter_email::placeholder {
    color: var(--dark-foreground)!important;
}

.carousel {
    height: 25vh;
    width: 25vh;
    border: 2px solid var(--dark-foreground);
    transition: border 0.5s ease-in-out;
}

.carousel:hover {
    border: 2px solid var(--light-highlight);
}

.side-banner-heading {
    color: var(--light-foreground);
}

.carousel-caption {
    background-color: var(--light-background-opaque);
}

.carousel-caption a {
    color: var(--light-highlight);
    text-decoration: none;
    font-family: var(--main-font);
}

/* ---------------------- MEDIA QUERIES ------------------------ */

@media screen and (max-width: 1400px) {
    .main-banner-message-text {
        font-size: 100%;
        margin-bottom: 0px;
    }

    .main-banner-message {
        height: 55%;
    }

    .email-message {
        height: 37%;
        margin-top: 7%;
    }

    .carousel {
        height: 24vh;
        width: 24vh;
        background-color: var(--light-foreground);
    }

    .carousel-caption {
        width: 75%;
    }
}

@media screen and (max-width: 991px) {
    .side-banner {
        min-height: 40vh;
    }
    .side-banner-message {
        width: 50%;
    }

}

@media screen and (max-width: 576px) {
    .side-banner-message {
        width: 80%;
    }
    .side-banner {
        height: 60vh;
        margin-bottom: 3vh;
    }
    .carousel{
        height: 39vh;
        width: 39vh;
    }
    .email-message{
        margin-top: 8%;
    }
}

@media screen and (max-height: 500px) {
    .side-banner-message{
        width: 60%;
        height: 100%;
    }
    .side-banner {
        height: 80vh;
        margin-bottom: 10vh;
    }
    .carousel{
        height: 60vh;
        width: 60vh;
    }
}