/** -------------------------------- IMPORTS ---------------------------- **/

@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

/** -------------------------------- VARS ---------------------------- **/

:root {
    
    /** COLOR PALETTE **/
    --dark-foreground: #142331;
    --light-foreground: #fafafa;
    --positive-foreground: #b0fc38;
    --negative-foreground: #ff3333;
    --neutral-foreground: #fee12b;
    
    --light-background: #30577b;
    --light-background-opaque: rgba(48,87,123,0.75);
    --dark-background: #223d56;
    --negative-background: #c0392b;
    --positive-background: #218c54;    
    
    --light-highlight: #fbdb6b;
    --dark-highlight: #facf39;

    /** FONTS **/
    --main-font: 'Electrolize', sans-serif;
}

/** ------------------------------ GENERAL --------------------------- **/

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--light-background);
}

::-webkit-scrollbar-thumb {
    background: var(--dark-foreground);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--light-highlight);
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: var(--light-foreground);
    font-family: var(--main-font);
}

.wrapper {
    padding-bottom: 2vh;
    padding-top: 2vh;
    min-height: 78vh;
}

.heading {
    color: var(--light-foreground);
    background-color: var(--light-background);
    margin-top: 2vh;
}

h1, h2, h3, h4 {
    font-family: var(--main-font);
    text-shadow: 2px 2px 4px var(--dark-foreground);
}

p, th {
    font-family: var(--main-font);
}

.add-shadow {
    box-shadow: 8px 8px 8px var(--dark-foreground);
}

.button-shadow {
    box-shadow: 3px 3px 3px var(--dark-foreground);
    border: 2px solid var(--dark-foreground)
}

.w-40 {
    width: 40%;
}

.w-20 {
    width: 20%;
}

.dynamic-width-25 {
    width: 25%;
}

.show-less-768px {
    display: none;
}
@media screen and (max-width: 991px) {
    .hide-less-991px {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .hide-less-768px {
        display: none;
    }
    .show-less-768px {
        display: block;
    }
}

/** ------------------------------ LOADER --------------------------- **/

#loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--light-background-opaque);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    display: none;
}

.loader {
        width: 5vw;
        height: 5vw;
        animation: loader-effect 2s linear infinite;
        transform-origin: center center;
}

@keyframes loader-effect {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(360deg); }
    75% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

.loader img {
    width: 100%;
    height: 100%;
}


/** ------------------------------- FORMS ---------------------------- **/

.custom-button {
    text-align: center;
    text-decoration: none;
    background: var(--dark-background);
    color: var(--light-foreground);
    padding: 1vh;
    font-family: var(--main-font);
    width: 40%;
    transition: background-color 0.5s, color 0.5s;
}

.custom-button:hover {
    background-color: var(--light-background);
    color: var(--light-highlight);
}

.short-button {
    width: 20%!important;
}

.form-background {
    background-color: var(--light-background);
    color: var(--light-foreground);
    padding: 2vh;
    width: 50%;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
    
}

.form-background label {
    font-family: var(--main-font);
    width: 40%;
}

.selectmultiple,
.select,
input[type="text"],
textarea,
input[type="number"],
input[type="date"],
select {
    font-family: var(--main-font)!important;
    background-color: var(--light-background)!important;
    color: var(--light-foreground)!important;
    border-radius: 0px!important;
    border: 1px solid var(--light-foreground)!important;
    transition: border 0.5s;
}

.selectmultiple:focus,
.select:focus,
input[type="text"]:focus,
textarea:focus,
input[type="number"]:focus,
select:focus,
input[type="date"]:focus
{
    background-color: var(--light-background)!important;
    color: var(--light-foreground)!important;
    border: 1px solid var(--dark-highlight)!important;
}

.selectmultiple:hover,
.select:hover,
input[type="text"]:hover,
textarea:hover,
input[type="number"]:hover,
select:hover,
input[type="date"]:hover
{
    background-color: var(--light-background)!important;
    color: var(--light-foreground)!important;
    border: 1px solid var(--dark-foreground)!important;
}

input[type="text"]::placeholder,
textarea::placeholder,
input[type="number"]::placeholder {
    color: var(--dark-foreground)!important;
}

select option {
    background-color: var(--light-background);
    color: var(--light-foreground);
}

select option:checked {
    background-color: var(--dark-background);
    color: var(--light-foreground);
}

.form-check-input[type=checkbox] {
    border-radius: 0px!important;
    transition: border 0.5s ease-in-out;
}

.form-check-input[type=checkbox]:focus {
    border-color: var(--light-highlight)!important;
}

.form-check-input[type=checkbox]:hover {
    border-color: var(--dark-foreground)!important;
}

.form-check-input:checked {
    background-color: var(--dark-background)!important;
    border-color: var(--dark-background)!important;
    transition: border 0.5s ease-in-out;
}

.form-check-input:checked:hover {
    border-color: var(--dark-foreground)!important;
}

.form-check-input:checked:focus {
    border-color: var(--light-highlight)!important;
}

input[type=checkbox] {
    outline: 2px solid var(--dark-background);
    accent-color: var(--dark-background);
    transition: accent-color 0.5s;
}

input[type=checkbox]:checked {
    outline: 2px solid var(--dark-background);
}

.close-form {
    color: var(--light-foreground);
    font-size: 150%;
    text-decoration: none;
    transition: color 0.5s;
}

.close-form:hover {
    color: var(--light-highlight);
    font-size: 150%;
    text-decoration: none;
}

label[for="id_category_image"],
label[for="id_image_1"],
label[for="id_image_2"],
label[for="id_image_3"] {
    margin-bottom: 1.5vh;
}

.text-muted {
    color: var(--dark-highlight)!important;
    font-family: var(--main-font);
}

input[type="radio"] {
    accent-color: var(--dark-background);
}

/** ---------------------- TOASTS ------------------------ **/

.message-container {
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    z-index: 999;
}

.toast {
    border-radius: 0px;
    border: 1px solid var(--dark-background)!important;
    font-family: var(--main-font);
    max-height: 40vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.toast-header {
    background-color: var(--light-background);
    border-radius: 0px!important;
    color:var(--light-foreground);
}

.toast-body {
    color: var(--dark-background);
}

.toast-capper {
    height: 2px;
}

.vault-toast-postage {
    color: var(--light-highlight);
    background-color: var(--dark-background);
}

.toast-preview {
    width: 80%;
    border: 2px solid var(--dark-background);
}

/** ---------------------- PAGINATOR ------------------------ **/

.pagination-nav {
    color: var(--light-foreground);
    font-family: var(--main-font);
    font-size: 125%;
}

.pagination-nav a {
    font-family: var(--main-font);
    color: var(--light-foreground);
    transition: color 0.5s;
}

.pagination-nav a:hover {
    font-family: var(--main-font);
    color: var(--light-highlight);
}

/** ---------------------- MODALS ------------------------ **/

.modal-content {
    background-color: var(--light-background);
}

.modal-title {
    color: var(--light-foreground);
}

.modal p {
    color: var(--light-foreground);
}

.modal ul {
    list-style: none;
    
}

.modal-body {
    color: var(--light-foreground);
    font-family: var(--main-font);
}

/** ------------------------------- ALLAUTH ---------------------------- **/

.form-heading a {
    text-decoration: none;
    color: var(--light-foreground);
    transition: color 0.5s;
}

.form-heading a:hover {
    text-decoration: none;
    color: var(--light-highlight);
}

/* REGISTER */

#register-submit-container a {
    text-decoration: none;
    color: var(--light-foreground);
    transition: color 0.5s;
}

#register-submit-container a:hover {
    text-decoration: none;
    color: var(--light-highlight);
}

#register-submit-container {
    height: 10vh;
}

.register-submit-item {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#id_email,
#id_email2,
#id_username,
#id_password1,
#id_password2 {
    background: none;
    border: 1px solid var(--light-foreground);
    font-family: var(--main-font);
    padding: 2px;
    width: 50%;
    color: var(--light-foreground);
    transition: border 0.5s;
}


#id_email::placeholder,
#id_email2::placeholder,
#id_username::placeholder,
#id_password1::placeholder,
#id_password2::placeholder {
    color: var(--dark-foreground)!important;
}


#id_email:focus,
#id_email2:focus,
#id_username:focus,
#id_password1:focus,
#id_password2:focus {
    background-color: var(--light-background)!important;
    color: var(--light-foreground)!important;
    border: 1px solid var(--dark-highlight)!important;
    box-shadow: none!important;
    border-radius: 0%!important;
}

#id_email:hover,
#id_email2:hover,
#id_username:hover,
#id_password1:hover,
#id_password2:hover {
    border: 1px solid var(--dark-foreground)!important;
}

.form-background ul li {
    font-family: var(--main-font);
}

.form-background ul li:nth-child(1),
.form-background ul li:nth-child(2),
.form-background ul li:nth-child(3),
.form-background ul li:nth-child(4) {
    transition: color 0.75s;
}

/* LOGIN */

#id_password+.helptext {
    display: none;
}

#id_password,
#id_login {
    background: none;
    border: 1px solid var(--light-foreground);
    font-family: var(--main-font);
    padding: 2px;
    width: 50%;
    color: var(--light-foreground);
    transition: border 0.5s;
}

#id_password::placeholder,
#id_login::placeholder {
    color: var(--dark-foreground)!important;
}

#id_password:hover,
#id_login:hover {
    border: 1px solid var(--dark-foreground)!important;
}

.custom-form-link {
    text-decoration: none;
    color: var(--light-foreground);
    transition: color 0.5s;
}

.custom-form-link:hover {
    text-decoration: none;
    color: var(--light-highlight);
}

/* CHANGE PASSWORD */

#id_oldpassword {
    background: none;
    border: 1px solid var(--light-foreground);
    font-family: var(--main-font);
    padding: 2px;
    width: 50%;
    color: var(--light-foreground);
    transition: border 0.5s;
}

#id_oldpassword::placeholder {
    color: var(--dark-foreground)!important;
}

#id_oldpassword:hover {
    border: 1px solid var(--dark-foreground)!important;
}

/* ---------------------- MEDIA QUERIES ------------------------ */

@media screen and (max-width: 1400px) {
    .short-button {
        width: 40%!important;
    }
}

@media screen and (max-width: 991px) {
    .form-background {
        width: 80%;
    }
    .loader {
        width: 20vw;
        height: 20vw;
    }
    .dynamic-width-25 {
        width: 48%;
    }
}
