/** ------------------------------- ADMIN TOOLS ---------------------------- **/

.owner-menu a {
    color: var(--light-foreground);
    font-family: var(--main-font);
    text-decoration: none;
    font-size: 130%;
}

.owner-menu a:hover {
    color: var(--light-highlight);
    transition: color 0.5s;
}

.admin-hr {
    color: var(--light-foreground);
    width: 95%;
}

.category-heading {
    margin-top: 1vh;
}

.category-preview {
    width: 60%;
    border: 2px solid var(--dark-foreground);
}

.category-preview-crud {
    width: 40%;
    border: 2px solid var(--dark-foreground);
    margin-left: 30%;
}

.folder {
    width: 18rem;
    height: 18rem;
    display: inline-block;
    margin: auto;
    position: relative;
    background-color: var(--dark-background);
    border-radius: 0 3px 3px 3px;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.folder:before {
    content: '';
    width: 40%;
    height: 1em;
    border-radius: 20px 20px 0 0;
    background-color: var(--dark-background);
    position: absolute;
    top: -1em;
    left: 0px;
}

.items-table {
    width: 95%;
    margin-left: 2.5%;
    font-family: var(--main-font);
    text-align: center;
}

.custom-button-table {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background: var(--dark-background);
    color: var(--light-foreground);
    padding: 0.1vh;
    font-family: var(--main-font);
    width: 40%;
    transition: background-color 0.5s, color 0.5s;
}

.custom-button-table:hover {
    background-color: var(--light-background);
    color: var(--light-highlight);
}

.approved {
    color: var(--positive-foreground);
}

.not-approved {
    color: var(--negative-foreground);
}

.comment-text-container {
    width: 40vw;
    height: 1.7em;
    position: relative;
    overflow: hidden;
}

.comment-text {
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.more-text {
    height: 1.7em;
    width: 8%;
    background-color: var(--dark-background);
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
}

.more-text:hover {
    color: var(--light-highlight);
}

.expand-box {
    height: 15vh!important;
    overflow: scroll!important;
}

.neg-rating {
    color: var(--negative-foreground);
}

.pos-rating {
    color: var(--positive-foreground);
}

.neu-rating {
    color: var(--neutral-foreground);
}

.full-button {
    width: 5vw;
}

.comment-email-container {
    width: 30vw;
    height: 1.7em;
    position: relative;
    overflow: hidden;
}

.tinymce {
    border-radius: 0px!important;
}