/* ---------------- WISHLIST AND VAULT ------------- */

.no-items-wishlist {
    font-size: 150%;
}

.wishlist-button {
    width: 80%;
}

.wishlist-preview {
    width: 75%;
    border: 2px solid var(--dark-background);
    transition: border 0.5s ease-in-out;
}

.wishlist-preview:hover {
    border: 2px solid var(--light-highlight);
}

.vault-preview {
    width: 75%;
    border: 2px solid var(--dark-background);
    transition: border 0.5s ease-in-out;
}

.vault-preview:hover {
    border: 2px solid var(--light-highlight);
}

.minus {
    position: absolute;
    top: 25%;
    left: 0%;
    transform: translate( 0%, 0%);
    font-size: 16px;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
}

.plus {
    position: absolute;
    top: 25%;
    transform: translate( 0%, 0%);
    right: 0%;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
}

.plus,
.minus {
    padding-left: 1vw;
    padding-right: 1vw;
}

.minus:hover,
.plus:hover {
    color: var(--light-highlight);
}

.quantity {
    text-align: center;
}

.product-detail-input {
    position: relative;
    height: auto;
}

label[for="quantity"] {
    display: none;
}

.out-of-stock {
    background-color: var(--negative-background);
}

.in-stock {
    background-color: var(--positive-background);
}

.rounded-pill {
    border: 1px solid var(--dark-foreground);
    font-family: var(--main-font);
}

.vault-total {
    font-size: 130%;
    margin-right: 3rem;
}

.heading-link {
    color: var(--light-foreground);
    text-decoration: none;
    transition: color 0.5s ease-in-out;
}

.heading-link:hover {
    color: var(--light-highlight);
}

.wishlist-description {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vault-actions {
    flex-direction: row;
}

@media screen and (max-width: 991px) {
    .wishlist-description {
        flex-direction: row;
    }
    .wishlist-preview {
        width: 45%;
    }
    .vault-preview {
        width: 45%;
    }
    .top-margin {
        margin-top: 2vh;
    }
    .wishlist-button {
        width: 50%;
    }
    .vault-total {
        margin-right: 1rem;
    }
}

@media screen and (max-width: 576px) {
    #clear-all {
        width: 80%;
    }
    .wishlist-details {
        font-size: 100%;
        font-weight: 400;
        align-self: center;
    }
    .vault-actions {
        flex-direction: column;
        gap: 3vh;
    }
}

@media screen and (max-height: 500px) {
    .vault-preview,
    .wishlist-preview {
        width: 30%;
    }
}