{% extends "base.html" %}
{% load static %}

{% block nav_name %}Vault{% endblock %}

{% block extra_css %} 
        <link rel="stylesheet" href="{% static 'css/wishlist_vault.css' %}">
{% endblock %}

{% block content %}
<div class="container wrapper">
    <div class="w-100 d-flex justify-content-center p-3 heading add-shadow">
        <h1>
            Vault
        </h1>
    </div>
    <!-- If vault contain any items -->
    {% if vault_content|length > 0 %}
        <div class="w-100 p-3 heading add-shadow d-flex">
            <!-- Free shipping message -->
            <p class="w-100 text-center">
            {% if free_postage_left > 0 %}
                Power up your Vault with just
                &nbsp;
                <strong>
                    {{ free_postage_left }} € 
                </strong>
                &nbsp;
                more in electronic wonders for
                &nbsp; 
                <strong>
                    FREE DELIVERY 
                </strong>
                &nbsp;
                !
            {% else %}
                <strong>
                    Congratulations !
                </strong>
                &nbsp;
                You're already enjoying
                &nbsp; 
                <strong>
                FREE DELIVERY
                </strong>
                &nbsp;
                !
            {% endif %}
            </p>
        </div>
    {% endif %}
    <div class="col-12 heading add-shadow">
        <div class="row p-3 justify-content-center">
            <!-- Display message if nothing in vault -->
            {% if vault_content|length == 0 %}
                <div class="w-100 text-center no-items-wishlist">
                    You have nothing in your Vault yet, why not to visit our shop ?
                </div>
                <div class="w-100 d-flex justify-content-center">
                    <a href="{% url 'shop' category_pk=0 %}" class="custom-button button-shadow mt-3" aria-label="Shop Now">Visit the Shop</a>
                </div>
            <!-- Display details of vault -->
            {% else %}
                <hr>
                {% for row in vault_content %}
                <div class="row">
                    <div class="col-lg-2 col-12 d-flex justify-content-center align-items-center">
                        <a href="{% url 'item-detail' item_pk=row.0 %}" aria-label="Details of {{ row.4 }}" class="w-100 text-center">
                            {% if row.5 == '' or row.5 == 'False' %}
                                <img src="{% static 'images/no_image.png' %}" alt="{{ row.4 }} Preview" class="vault-preview">
                            {% else %}
                                <img src="{{ row.5.url }}" alt="{{ row.4 }} Preview" class="vault-preview">
                            {% endif %}
                        </a>
                    </div>
                    <div class="col-lg-5 col-12 d-flex justify-content-center align-items-center flex-column top-margin">
                        <strong class="mb-2">
                            <a href="{% url 'item-detail' item_pk=row.0 %}" aria-label="Details of {{ row.4 }}" class="heading-link">
                                {{ row.4 }}
                            </a>
                        </strong>
                        <div class="w-75 d-flex justify-content-around mt-2">
                            <!-- Stock pill -->
                            <span>
                                {{ row.6 }} €
                            </span>
                            {% if row.7 > 0 %}
                                <span class="badge rounded-pill in-stock">{{ row.7 }} available</span>
                            {% else %}
                                <span class="badge rounded-pill out-of-stock">Out Of Stock</span>
                            {% endif %}
                        </div>
                        <!-- If sizes and values within the item -->
                        {% if row.1 != 1 and row.2 != 0 %}
                        <div class="w-75 d-flex justify-content-around mt-2">
                            {% if row.1 != 1 %}
                                <span>
                                    <strong>
                                        Size :
                                    </strong>
                                    {{ row.1 }}
                                    &nbsp;
                                    units
                                </span>
                            {% endif %}
                            {% if row.2 != 0 %}
                            <span>
                                <strong>
                                    Value :
                                </strong>
                                {{ row.2 }}
                            </span>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-lg-2 col-6 d-flex align-items-center top-margin">
                        <!-- Adjust quantity form -->
                        <form method="post" id="item-{{ forloop.counter0 }}" class="w-100">
                            {% csrf_token %}
                            <span class="product-detail-input w-100">
                                <label for="quantity">Quantity :</label>
                                <input type="number" class="form-control shadow-none quantity" min="0" max="{{ row.7 }}" value="{{ row.3 }}" name="quantity" id="quantity">
                                <span class="minus">-</span>
                                <span class="plus">+</span>
                                <input type="hidden" name="vault-item" value="{{ forloop.counter0}}">
                            </span>
                        </form>
                    </div>
                    <div class="col-lg-1 col-6 d-flex justify-content-center align-items-center flex-column top-margin">
                        <span class="text-center">
                            <strong>
                                Subtotal
                            </strong>
                        </span>
                        <span>
                            {{ row.8 }}
                        </span>
                    </div>
                    <div class="col-lg-2 col-12 d-flex justify-content-around align-items-center flex-column top-margin">
                        <a href="{% url 'remove-from-vault' vault_item=forloop.counter0 %}" class="custom-button button-shadow wishlist-button deleteButton">
                            <i class="bi bi-trash3"></i>
                            &nbsp;
                            Remove
                        </a>
                    </div>
                    <hr class="mt-3">
                </div>
                {% endfor %}
                <!-- Vault total -->
                <div class="mb-3 d-flex justify-content-end align-items-center w-100">
                    <span class="vault-total">
                        <strong>
                            Vault total : 
                        </strong>
                        {{ subtotal }} 
                        €
                    </span>
                </div>
                <hr>
                <!-- Vault actions -->
                <div class="d-flex justify-content-around align-items-center w-100 vault-actions">
                    <a href="#" class="custom-button button-shadow" aria-label="Clear Vault" data-bs-toggle="modal" data-bs-target="#clearVaultModal">
                        <i class="bi bi-trash3"></i>
                        &nbsp;
                        Remove All Items
                    </a>
                    <a href="{% url 'checkout' %}" class="custom-button button-shadow" aria-label="Checkout">
                        <i class="bi bi-shield-check"></i>
                        &nbsp;
                        Secure Checkout
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- Clear Vault Modal -->
<div class="modal fade" id="clearVaultModal" tabindex="-1" aria-labelledby="clearVaultModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="clearVaultModalLabel">Clear the Vault ?</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure ? All items from your Vault will be deleted.
            </div>
            <div class="modal-footer w-100 d-flex justify-content-around">
                <button type="button" class="custom-button button-shadow" data-bs-dismiss="modal">Back</button>
                <a href="{% url 'clear-vault' %}" class="custom-button button-shadow" id="clearButton">Clear Vault</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'js/vault.js' %}"></script>
    <script>
        $(document).ready(function() {
            // if clear button or remove button are pressed, display loader
            $('#clearButton, .deleteButton').click(function(){
                $('.modal').hide();
                $('#loader-container').css("display", "flex");
            });
            sessionStorage.setItem('yPosition', 0);
        });
    </script>
{% endblock %}