{% extends "base.html" %}
{% load static %}

{% block nav_name %}Home{% endblock %}

{% block content %}
<div class="container wrapper">
    <div class="row">
        <div class="col-12 col-lg-8">
            Banner
        </div>
        <div class="col-12 col-lg-4">
            <div class="row">
                <div class="col-12">
                    Favourites
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    New Arrivals
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}