{% extends "base.html" %}
{% load static %}

{% block nav_name %}Home{% endblock %}

{% block content %}
<div class="container wrapper">
    <div class="row jumbotron-wrapper" style="background: url('{% static "images/banner-background.jpg" %}') no-repeat fixed center center / cover;">
        <div class="col-12 col-lg-8 main-banner d-flex justify-content-center align-items-center">
            <div class="p-3 main-banner-message d-flex justify-content-center align-items-center flex-column">
                <p class="text-center main-banner-message-text">
                    Empower Your Creations with Ohm-Azing Components - Where Innovation Meets Circuitry! Unleash your imagination and illuminate your designs with quality electronic components. Join us at Ohm-Azing Components, where innovation resonates in every piece. Spark the future of electronics – your circuit dreams begin here!
                </p>
                <a href="#" class="custom-button button-shadow mt-3" aria-label="Shop Now">Shop Now</a>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="row">
                <div class="col-12 side-banner d-flex justify-content-center align-items-center">
                    <div class="p-3 side-banner-message d-flex justify-content-center align-items-center flex-column">
                        <p class="text-center main-banner-message-text">
                            Favorites
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 side-banner d-flex justify-content-center align-items-center">
                    <div class="p-3 side-banner-message d-flex justify-content-center align-items-center flex-column">
                        <p class="text-center main-banner-message-text">
                            New Arrivals
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}