{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block nav_name %}Home{% endblock %}

{% block extra_css %}
        <!-- Local styling to ensure this doesn't interfere with global styling of same class names -->
        <style>
            .asteriskField {
                display: none;
            }
        </style>                                         
        <link rel="stylesheet" href="{% static 'css/landing.css' %}">
{% endblock %}


{% block content %}
<div class="container wrapper">
    <div class="row jumbotron-wrapper" style="background: url('{% static "images/banner-background.jpg" %}') no-repeat fixed center center / cover;">
        <div class="col-12 col-lg-8 main-banner d-flex justify-content-center align-items-center flex-column">
            <div class="p-3 main-banner-message d-flex justify-content-center align-items-center flex-column add-shadow">
                <p class="text-center main-banner-message-text">
                    Empower Your Creations with Ohm-Azing Components - Where Innovation Meets Circuitry ! Unleash your imagination and illuminate your designs with quality electronic components. Join us at Ohm-Azing Components, where innovation resonates in every piece. Spark the future of electronics – your circuit dreams begin here !
                </p>
                <a href="{% url 'shop' category_pk=0 %}" class="custom-button button-shadow mt-3" aria-label="Shop Now">Shop Now</a>
                <span class="free-shipping-message mt-lg-2 mt-4">
                    Enjoy free shipping on orders over {{ free_postage|floatformat:0 }} €
                </span>
            </div>
            <div class="email-message add-shadow p-3">
                <p class="text-center main-banner-message-text">
                    Stay Wired In : Subscribe to Our Tech Updates !
                </p>
                <div class="w-100">
                    <form method="post" id="form">
                        {% csrf_token %}
                        <div class="inline-block text-center" id="newsletter-input-field">
                            {{ newsletter_form|crispy}}
                        </div>
                        <br>
                        <div class="inline-block text-center" id="newsletter-input-button">
                            <button type="Submit" class="custom-button button-shadow short-button">
                                <i class="bi bi-bell"></i>
                                Subscribe
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 hide-less-991px">
            <div class="row">
                <div class="col-12 side-banner d-flex justify-content-center align-items-center">
                    <div class="p-lg-1 p-3 side-banner-message add-shadow">
                        {% if favourites|length == 0 %}
                            <div class="w-100 h-100 d-flex align-items-center justify-content-center">
                                <p class="main-banner-message-text text-center">
                                    Favourites
                                    <br>
                                    No products to show.
                                </p>
                            </div>
                        {% else %}
                        <p class="text-center side-banner-heading">
                            <strong>
                                Favourites
                            </strong>
                        </p>
                        <div class="w-100 text-center d-flex justify-content-center">
                            <div id="carousel-favourites" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carousel-news" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carousel-news" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carousel-news" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                </div>
                                <div class="carousel-inner">
                                {% for favourite in favourites %}
                                    {% if  forloop.counter == 1 %}
                                        <div class="carousel-item active">
                                            {% if favourite.image_1 == '' or favourite.image_1 == 'False' %}
                                                <img src="{% static 'images/no_image.png' %}" class="d-block w-100 carousel-picture" alt="{{ favourite.item_name }}">
                                            {% else %}
                                                <img src="{{ favourite.image_1.url }}" class="d-block w-100 carousel-picture" alt="{{ favourite.item_name }}">
                                            {% endif %}
                                            <div class="carousel-caption">
                                                <a href="{% url 'item-detail' item_pk=favourite.pk %}" aria-label="favourite.item_name">
                                                    <span class="news-carousel-heading">
                                                        {{ favourite.item_name|slice:":20" }}
                                                        {% if favourite.item_name|length > 20 %}
                                                        ...
                                                        {% endif %}
                                                        <br>
                                                        {{ favourite.price_per_unit }} €
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="carousel-item">
                                            {% if favourite.image_1 == '' or favourite.image_1 == 'False' %}
                                                <img src="{% static 'images/no_image.png' %}" class="d-block w-100 carousel-picture" alt="{{ favourite.item_name }}">
                                            {% else %}
                                                <img src="{{ favourite.image_1.url }}" class="d-block w-100 carousel-picture" alt="{{ favourite.item_name }}">
                                            {% endif %}
                                            <div class="carousel-caption d-md-block add-shadow px-1">
                                                <a href="{% url 'item-detail' item_pk=favourite.pk %}" aria-label="favourite.item_name">
                                                    <span class="news-carousel-heading">
                                                        {{ favourite.item_name|slice:":20" }}
                                                        {% if favourite.item_name|length > 20 %}
                                                        ...
                                                        {% endif %}
                                                        <br>
                                                        {{ favourite.price_per_unit }} €
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 side-banner d-flex justify-content-center align-items-center">
                    <div class="p-lg-1 p-3  side-banner-message add-shadow">
                        {% if new_arrivals|length == 0 %}
                        <div class="w-100 h-100 d-flex align-items-center justify-content-center">
                            <p class="main-banner-message-text text-center">
                                New Arrivals
                                <br>
                                No products to show.
                            </p>
                        </div>
                        {% else %}
                        <p class="text-center side-banner-heading">
                            <strong>
                                New Arrivals
                            </strong>
                        </p>
                        <div class="w-100 text-center d-flex justify-content-center">
                            <div id="carousel-new-arrivals" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carousel-news" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carousel-news" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carousel-news" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                </div>
                                <div class="carousel-inner">
                                {% for arrival in new_arrivals %}
                                    {% if  forloop.counter == 1 %}
                                        <div class="carousel-item active">
                                            {% if arrival.image_1 == '' or arrival.image_1 == 'False' %}
                                                <img src="{% static 'images/no_image.png' %}" class="d-block w-100 carousel-picture" alt="{{ arrival.item_name }}">
                                            {% else %}
                                                <img src="{{ arrival.image_1.url }}" class="d-block w-100 carousel-picture" alt="{{ arrival.item_name }}">
                                            {% endif %}
                                            <div class="carousel-caption">
                                                <a href="{% url 'item-detail' item_pk=arrival.pk %}" aria-label="arrival.item_name">
                                                    <span class="news-carousel-heading">
                                                        {{ arrival.item_name|slice:":20" }}
                                                        {% if arrival.item_name|length > 20 %}
                                                        ...
                                                        {% endif %}
                                                        <br>
                                                        {{ arrival.price_per_unit }} €
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="carousel-item">
                                            {% if 'default_heading_image' in news.heading_image.url %}
                                                <img src="{% static 'images/default_news.png' %}" class="d-block w-100 carousel-picture" alt="{{ news.title }}">
                                            {% else %}
                                                <img src="{{ arrival.image_1.url }}" class="d-block w-100 carousel-picture" alt="{{ arrival.item_name }}">
                                            {% endif %}
                                            <div class="carousel-caption d-md-block add-shadow px-1">
                                                <a href="{% url 'item-detail' item_pk=arrival.pk %}" aria-label="arrival.item_name">
                                                    <span class="news-carousel-heading">
                                                        {{ arrival.item_name|slice:":20" }}
                                                        {% if arrival.item_name|length > 20 %}
                                                        ...
                                                        {% endif %}
                                                        <br>
                                                        {{ arrival.price_per_unit }} €
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

