<div style="background-color: #30577b; text-align: center; padding: 20px;">
    <p style="color: #fafafa;">
        <img src="https://raw.githubusercontent.com/tomik-z-cech/PP5-Ohm-Azing-Components/main/templates/emails/email_logo.png" alt="Logo" />
    </p>
    <p style="color: #fafafa;">
        Hello from Aneta's Glimmer {{ user }},
    </p>
    <p style="color: #fafafa;">
        {{ body }}
    </p>
    <p style="color: #fafafa;">
        <a href="https://ohmazing-components-1a5a0fcb9e95.herokuapp.com/">www.ohmazingcomponents.ie</a>
    </p>
</div>