<div style="background-color: #30577b; text-align: center; padding: 20px;">
    <p style="color: #fafafa;">
        <img src="https://raw.githubusercontent.com/tomik-z-cech/PP5-Ohm-Azing-Components/main/templates/emails/email_logo.png" alt="Logo"  style="width: 80%;" />
    </p>
    <p style="color: #fafafa;">
        Hello from Ohm-Azning Components,
    </p>
    <p style="color: #fafafa;">
        {{ body|safe }}
    </p>
    <p style="color: #fafafa;">
        <a href="https://ohmazing-components-1a5a0fcb9e95.herokuapp.com/" style="color: #fafafa;">www.ohmazingcomponents.ie</a>
    </p>
    <p style="color: #fafafa;">
        Please reply to this email if you wish to unsubscribe from our Newsletter.
    </p>
</div>