{% extends "base.html" %}
{% load static %}

{% block nav_name %}Oops !{% endblock %}

{% block extra_css %} 
        <link rel="stylesheet" href="{% static 'css/error.css' %}">
{% endblock %}

{% block content %}
<div class="container wrapper d-flex justify-content-center align-items-center">
    <div class="form-background add-shadow">
        <h1 class="text-center">403 - Oops! Access Denied!</h1>
        <p class="text-center">Oops! It seems you don't have the proper access to this electronic wonderland.</p> 
        <p class="text-center">Double-check your circuits, contact our <a href="mailto:ohmazing@gmail.com">support team</a> or return <a href="{% url 'home' %}" aria-label="Home">home</a>.</p>
    </div>
</div>
{%endblock%}