{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Block for navigation names -->
    <title>
        {% block nav_name %}{% endblock %}
        | Ohm-azing Components
    </title>

    <!-- Block Meta -->
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="View massive selection of electronic components at our online store. Find high-quality resistors, capacitors, tools, kits and more. Shop now for all your electronic needs !">
        <meta name="keywords" content="components, electronic components, resistors, capacitors, electronic kits, microcontrollers,electronic newbie, PCB components,electronic ideas, Arduino accessories, Raspberry Pi accessories, tools for electronics, soldering equipment">
    {% endblock %}

    <!-- Block for core CSS styles -->
    {% block core_css %} 
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% endblock %}

    <!-- Block for extra CSS styles -->
    {% block extra_css %}{% endblock %}

    <!-- Block for core JS scripts -->
    {% block core_js %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <script src="{% static 'js/easter_egg.js' %}"></script>
    {% endblock %}

    <!-- FavIcon -->
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
    
</head>
<body>
    <!-- Header -->
    {% include 'header.html' %}
    <!-- Content -->
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    <!-- Footer -->
    {% include 'footer.html' %}
    <!-- Toasts -->
    {% if messages %}
        <div class="message-container" aria-live="polite" aria-atomic="true" >
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'toasts/toast_vault.html' %}
                    {% elif level == 25 %}
                        {% include 'toasts/toast_success.html' %}
                    {% else %}
                        {% include 'toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}
    <!-- Loader -->
    <div id="loader-container">
        <div class="loader">
            <img src="{% static 'images/favicon.png' %}" alt="Loader">
        </div>
    </div>
    <!-- Owner error container -->
    <div id="owner-error-container" class="p-5">
        <img src="{% static 'images/favicon.png' %}" alt="Ohm-Azing Components Logo">
        <br>
        <p class="owner-error-text text-center w-100">
            <i class="bi bi-exclamation-circle"></i>
            &nbsp;
            Please access the Admin Tools from device with screen width at least 1200 px.
        </p>
    </div>
    <!-- Easteregg Modal -->
    <div class="modal fade" id="easterEggModal" tabindex="-1" aria-labelledby="easterEggModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="easterEggModalLabel">Hurray !</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    Great ! Enjoy 75% discount with code DJANGO75 valid through 2024 !
                </div>
                <div class="modal-footer w-100 d-flex justify-content-around">
                    <button type="button" class="custom-button button-shadow" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Wishlist Logged Out Modal -->
    <div class="modal fade" id="wishlistOutModal" tabindex="-1" aria-labelledby="wishlistOutModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="wishlistOutModalLabel">Ooops !</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    Please, 
                    <a href="{% url 'account_login' %}" aria-label="Login" class="custom-form-link">
                        &nbsp;
                        Log In
                        &nbsp;
                    </a>
                    to avail from Wishlist functions .
                </div>
                <div class="modal-footer w-100 d-flex justify-content-around">
                    <button type="button" class="custom-button button-shadow" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Block for extra JS scripts -->
    {% block extra_js %}
            <!-- Toasts JS logic -->
            <script>
                $(document).ready(function() {
                    // if any toasts exist
                    if ($('.toast').length > 0) {
                        // clear all previous tosts
                        $('.toast:not(:first-child)').remove();
                        // set new toast
                        let newToast = new bootstrap.Toast($('.toast'));
                        // display new toast
                        newToast.show();
                    };
                });
            </script>
    {% endblock %}
</body>
</html>