{% load static %}

{% block extra_css %} 
        <link rel="stylesheet" href="{% static 'css/footer.css' %}">
{% endblock %}

<!-- Footer -->
<footer class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="fs-6">
                    <!-- Contact details -->
                    <strong class="footer-heading">
                        Contact 
                        <span class="hide-less-768px">
                            details
                        </span>
                    </strong>
                    <hr>
                    <a href="tel:0862322014" aria-label="Call us">
                        <i class="bi bi-telephone-fill"></i>
                        <span class="hide-less-768px">
                            &nbsp;
                            086 232 20 14
                        </span>
                    </a>
                    <br>
                    <a href="mailto:ohmazingcomponents@gmail.com" aria-label="Email us">
                        <i class="bi bi-envelope-fill"></i>
                        <span class="hide-less-768px">
                            &nbsp;
                            ohmazingcomponents@gmail.com
                        </span>
                    </a>
                </div>
            </div>
            <!-- Social links and TC -->
            <div class="col-4">
                <div class="fs-6">
                    <strong class="footer-heading">
                        Social 
                        <span class="hide-less-768px">
                            Media
                        </span>
                    </strong>
                    <hr>
                    <a href="https://www.facebook.com/profile.php?id=61556654592935" target="_blank" aria-label="Find us on Facebook" rel="noopener nofollow">
                        <i class="bi bi-facebook"></i>
                        <span class="hide-less-768px">
                            &nbsp;
                            Follow us on Facebook !
                        </span>
                    </a>
                    <br>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#termsModal">
                        <span class="hide-less-768px">
                            Terms &#38; Conditions
                        </span>
                        <span class="show-less-768px">
                            T &#38; C's
                        </span>
                    </a>
                    <br>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#privacyModal">
                        Privacy 
                        <span class="hide-less-768px">
                            Policy
                        </span>
                    </a>
                </div>
            </div>
            <!-- Stripe mention -->
            <div class="col-4">
                <div class="fs-6">
                    <strong class="footer-heading">
                        Payment 
                        <span class="hide-less-768px">
                            Options
                        </span>
                    </strong>
                    <hr>
                    <a href="https://www.stripe.com" target="_blank" aria-label="Stripe" rel="noopener nofollow">
                        <i class="bi bi-stripe"></i>
                        <span class="hide-less-768px">
                            &nbsp;
                            Stripe
                        </span>
                    </a>
                    <br>
                    <span class="hide-less-768px">
                        <img src="{% static 'images/visa.png' %}" class="card-type" alt="Visa">
                        <img src="{% static 'images/visa-electron.png' %}" class="card-type" alt="Visa Electron">
                        <img src="{% static 'images/mastercard.png' %}" class="card-type" alt="MasterCard">
                        <img src="{% static 'images/maestro.png' %}" class="card-type" alt="Maestro">
                    </span>
                </div>
            </div>
        </div>
        <hr>
        <!-- Tomas - Github -->
        <div class="row">
            <div class="col-lg-12">
                <div id="credits">
                    <a href="https://github.com/tomik-z-cech" target="_blank" aria-label="Tomas Kubancik GitHub profile" rel="noopener nofollow">
                    2024 Tomas Kubancik - for educational purposes only
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- T&C Modal -->
<div class="modal fade" id="termsModal" tabindex="-1" aria-labelledby="termsModalLabel" aria-hidden="true">
    <div class="modal-dialog w-75">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="termsModalLabel">Terms &#38; Conditions</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                {% include 'terms.html' %}
            </div>
            <div class="modal-footer">
                <button type="button" class="custom-button button-shadow" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Privacy Policy Modal -->
<div class="modal fade" id="privacyModal" tabindex="-1" aria-labelledby="privacyModalLabel" aria-hidden="true">
    <div class="modal-dialog w-75">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="privacyModalLabel">Privacy Policy</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                {% include 'privacy.html' %}
            </div>
            <div class="modal-footer">
                <button type="button" class="custom-button button-shadow" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>