{% load static %}

{% block extra_css %} 
        <link rel="stylesheet" href="{% static 'css/header.css' %}">
{% endblock %}

<header class="container-fluid w-100" id="header">
  <div class="row">
    <div class="col-12 col-lg-3 header-height">
      <a href="{% url 'home' %}" aria-label="Home" id="logo-container" class="w-100">
        <img src="{% static 'images/logo.png' %}" alt="Logo Ohm-Azing Components" id="logo-image" class="image-fluid">
      </a>
    </div>
    <div class="col-12 col-lg-6 header-height">
      Search
    </div>
    <div class="col-4 col-lg-1 d-flex justify-content-center header-height">
      {% if user.is_authenticated %}
      <nav class="navbar">
        <a class="nav-link header-link text-center" href="{% url 'show-wishlist' %}" aria-label="Wishlist">
          <i class="bi bi-star"></i>
          <br>
          <span class="hide-less-991px">
            Wishlist
          </span>
          {% if items_in_wishlist != 0 %}
            <div class="header-bubble d-flex justify-content-center align-items-center">
              {{ items_in_wishlist }}
            </div>
          {% endif %}
        </a>
      </nav>
      {% endif %}
    </div>
    <div class="col-4 col-lg-1  d-flex justify-content-center header-height">
      <nav class="navbar">
        <a class="nav-link header-link text-center" href="#" aria-label="Vault">
          <i class="bi bi-safe"></i>
          <br>
          <span class="hide-less-991px">
            {% if subtotal > 0 %}
              {{ subtotal }} €
            {% else %}
              0.00 €
            {% endif %}
          </span>
          {% if items_in_vault != 0 %}
            <div class="header-bubble d-flex justify-content-center align-items-center">
              {{ items_in_vault }}
            </div>
          {% endif %}
        </a>
      </nav>
    </div>
    <div class="col-4 col-lg-1 d-flex justify-content-center header-height">
      <nav class="navbar navbar-expand d-flex justify-content-center">
          <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
                <a class="nav-link header-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Menu">
                  <i class="bi bi-person-circle"></i>
                  <br>
                  <span class="hide-less-991px">
                    Menu
                  </span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                    <li>
                      <a class="dropdown-item" href="{% url 'owner' %}" aria-label="Admin Tools">
                        <i class="bi bi-journals"></i>
                        Admin Tools
                      </a>
                    </li>
                    {% endif %}
                    <li>
                      <a class="dropdown-item" href="#" aria-label="Logout">
                        <i class="bi bi-book"></i>
                        Order History
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'profile-manager' %}" aria-label="Logout">
                        <i class="bi bi-person-lines-fill"></i>
                        My Details
                      </a>
                    </li>
                    <li class="dropdown-divider">
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'account_logout' %}" aria-label="Logout">
                        <i class="bi bi-box-arrow-right"></i>
                        Logout
                      </a>
                    </li>
                  {% else %}
                    <li>
                      <a class="dropdown-item" href="{% url 'account_signup' %}" aria-label="Register">
                        <i class="bi bi-key-fill"></i>
                        Register
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'account_login' %}" aria-label="Login">
                        <i class="bi bi-house-lock-fill"></i>
                        Login
                      </a>
                    </li>
                  {% endif %}
                </ul>
          </div>
      </nav>
    </div>
  </div>
</header>