{% load static %}

{% block extra_css %} 
        <link rel="stylesheet" href="{% static 'css/header.css' %}">
{% endblock %}

<header class="container-fluid w-100" id="header">
  <div class="row">
    <div class="col-12 col-xl-3 header-height">
      <a href="{% url 'home' %}" aria-label="Home" id="logo-container" class="w-100">
        <img src="{% static 'images/logo.png' %}" alt="Logo Ohm-Azing Components" id="logo-image" class="image-fluid">
      </a>
    </div>
    <div class="col-12 col-xl-6 header-height">
      <nav class="navbar d-flex align-items-center h-100 w-100">
        <form class="form-inline d-flex flex-row w-100" action="{% url 'search' %}" method="POST">
          {% csrf_token %}
          <input class="form-control mr-sm-2 me-5 shadow-none" type="text" placeholder="Search in categories and items" aria-label="Search" name="search-query" required>
          <button class="custom-button button-shadow my-2 my-sm-0" type="submit" id="search-button">
            <i class="bi bi-search"></i>
            <span class="hide-less-768px">
              Search
            </span>
          </button>
        </form>
      </nav>
    </div>
    <div class="col-4 col-xl-1 d-flex justify-content-center header-height">
      <!-- If user loged in, display wishlist option -->
      {% if user.is_authenticated %}
      <nav class="navbar p-0">
        <a class="nav-link header-link text-center p-0" href="{% url 'show-wishlist' %}" aria-label="Wishlist">
          <i class="bi bi-star"></i>
          <br>
          <span>
            Wishlist
          </span>
          <!-- If items in wishlist, display bubble -->
          {% if items_in_wishlist != 0 %}
            <div class="header-bubble d-flex justify-content-center align-items-center">
              {{ items_in_wishlist }}
            </div>
          {% endif %}
        </a>
      </nav>
      <!-- If not loged in, display modal when clicked on wishlist -->
      {% else %}
      <nav class="navbar p-0">
        <a class="nav-link header-link text-center p-0" href="#" aria-label="Wishlist" data-bs-toggle="modal" data-bs-target="#wishlistOutModal">
          <i class="bi bi-star"></i>
          <br>
          <span>
            Wishlist
          </span>
        </a>
      </nav>
      {% endif %}
    </div>
    <div class="col-4 col-xl-1  d-flex justify-content-center header-height">
      <nav class="navbar p-0">
        <a class="nav-link header-link text-center p-0" href="{% url 'vault' %}" aria-label="Vault">
          <i class="bi bi-safe"></i>
          <br>
          <span>
            {% if subtotal > 0 %}
              {{ subtotal|floatformat:2 }} €
            {% else %}
              0.00 €
            {% endif %}
          </span>
          <!-- If any items in vault, display bubble -->
          {% if items_in_vault != 0 %}
            <div class="header-bubble d-flex justify-content-center align-items-center">
              {{ items_in_vault }}
            </div>
          {% endif %}
        </a>
      </nav>
    </div>
    <!-- Menu -->
    <div class="col-4 col-xl-1 d-flex justify-content-center header-height">
      <nav class="navbar navbar-expand d-flex justify-content-center p-0">
          <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
                <a class="nav-link header-link p-0" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Menu">
                  <i class="bi bi-person-circle"></i>
                  <br>
                  <span>
                    Menu
                  </span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="{% url 'shop' category_pk=0 %}" aria-label="Logout">
                      <i class="bi bi-shop"></i>
                      &nbsp;
                      Visit Shop
                    </a>
                  </li>
                  <!-- If user loged in, display loged in user options -->
                  {% if user.is_authenticated %}
                    <li>
                      <a class="dropdown-item" href="{% url 'order-history' %}" aria-label="Logout">
                        <i class="bi bi-book"></i>
                        &nbsp;
                        Order History
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'profile-manager' %}" aria-label="Logout">
                        <i class="bi bi-person-lines-fill"></i>
                        &nbsp;
                        My Details
                      </a>
                    </li>
                    <!-- If user is a superuser, display admin tools option -->
                    {% if user.is_superuser %}
                    <li>
                      <a class="dropdown-item" href="{% url 'owner' %}" aria-label="Admin Tools">
                        <i class="bi bi-journals"></i>
                        &nbsp;
                        Admin Tools
                      </a>
                    </li>
                    {% endif %}
                    <li class="dropdown-divider">
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'account_logout' %}" aria-label="Logout">
                        <i class="bi bi-box-arrow-right"></i>
                        &nbsp;
                        Logout
                      </a>
                    </li>
                  <!-- User not loged in, display login and register options -->
                  {% else %}
                    <li>
                      <a class="dropdown-item" href="{% url 'account_signup' %}" aria-label="Register">
                        <i class="bi bi-key-fill"></i>
                        &nbsp;
                        Register
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'account_login' %}" aria-label="Login">
                        <i class="bi bi-house-lock-fill"></i>
                        &nbsp;
                        Login
                      </a>
                    </li>
                  {% endif %}
                </ul>
          </div>
      </nav>
    </div>
  </div>
</header>